@charset "utf-8";
.bg-width-s{width:550px; margin:0 auto;}
.c-height{height:480px; overflow-y: auto;}

.file-content{width:880px;}

.right-info-wrapper{width:220px; line-height:30px;}
.right-info-wrapper label{white-space: nowrap;}

.pop-window .temp-wrapper{margin:0; border: none;}

.temp-width1{width:52%}
.temp-width2{width:5%}
.temp-width3{width:43%;}
.temp-width4{width:42%;}

.control-info .temp-content-wrapper{
	height: 457px;
	overflow-y:auto;
}
.article-content-wrapper .temp-content-wrapper{height: 490px;overflow-y:auto;}
.temp-row{height:32px; line-height:32px; background: #369ce4; text-align:center;}
.temp-row a{color:#fff; font-weight: bold;}

.article-content h4,.article-content p{
	line-height:26px;
}
.article-content h4{font-size:16px; line-height:40px;}
.article-content p{text-indent: 2em;}

.file-item .left-menu{height: 550px;}
.file-item .menu-title{margin-left:5px !important;}
.file-item .menu-list ul li.selected p{background: #248ed8;}
