<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>

<body>
	<div ng-app="myApp" ng-controller="demoCtrl">
		<ul>
			<li ng-repeat="item in backer">
				{{item.name}}
				<span ng-repeat="inner in item.job">{{inner}}</span>
			</li>
		</ul>
	</div>


	<script src="../../bulid/angular/angular.js"></script>
	<script src="../../bulid/angular-sanitize.min.js"></script>
	<script>
		angular.module('myApp', ['ngSanitize'])
			.controller('demoCtrl', ['$http', '$scope', function ($http, $scope) {
				$scope.ball = [
					{
						name: '足球'
					},
					{
						name: '篮球'
					},
					{
						name: '排球'
					}
				]

				/*
					$.ajax({
						url:'',
						type:'',
						data:{},
						success:function(res){
	
						}
					})

					$.get()

					$.post()

				 */

				/*
					
					标准的请求方式
					$http({
						url:'' , // 请求的地址
						method:'' // 请求的方法
						params:{} // GET请求要传递的参数
						data:{} // POST请求要传递的参数
					}).then(function(){

						// 请求成功的回调函数

					},function(){

						// 请求失败的回调函数

					})
				*/

				/*
					简写的GET请求方式
					$http.get('url',{ params:{ age:20 } }).then(function(){},function(){})

					简写的POST请求方式
					$http.post('url',{}).then(function(){},function(){})

				 */


				/*$http({
					method:'post',
					url:'./httpA.html',
					params:{name:'zhangsan'},
					data:{age:18}
				}).then(function(res){

					console.log(res)

				})*/

				// $http.get('./httpA.html',{ params:{ age:20 } }).then(function(res){

				// 	console.log(res.data)

				// 	$scope.result = res.data;

				// })
			/* 	var topicList = [];
				$http({
					url: 'https://cnodejs.org/api/v1/topics',
					method: 'GET', // 请求的方法
				}).then(function (response) {
					topicList = response.data.data;
					console.dir(topicList)
				}, function () {

				}) */

			}])
	</script>
</body>

</html>