<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.richfit.bjsop.entity.BasOrg">
	<resultMap id="BaseResultMap" type="com.richfit.bjsop.entity.BasOrg">
		<id column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
		<result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
		<result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
		<result column="ORG_TYPE" property="orgType" jdbcType="INTEGER" />
		<result column="ORG_ADDRESS" property="orgAddress" jdbcType="VARCHAR" />
		<result column="ORG_LEADER" property="orgLeader" jdbcType="VARCHAR" />
		<result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
		<result column="EMAIL" property="email" jdbcType="VARCHAR" />
		<result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
		<result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
		<result column="UPDATE_ID" property="updateId" jdbcType="VARCHAR" />
		<result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
		<result column="DEL_FLAG" property="delFlag" jdbcType="INTEGER" />
		<result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
		
		<result column="CERTIFICATE_CODE" property="certificateCode" jdbcType="VARCHAR" />
		
	</resultMap>
	<sql id="Base_Column_List">
		ORG_ID, ORG_NAME, PARENT_ID, ORG_TYPE, ORG_ADDRESS, ORG_LEADER, MOBILE,
		EMAIL, CREATE_ID,
		CREATE_DATE, UPDATE_ID, UPDATE_DATE, REMARK, DEL_FLAG, ORG_CODE,CERTIFICATE_CODE
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from bas_org
		where ORG_ID = #{orgId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from bas_org
		where ORG_ID = #{orgId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.richfit.bjsop.entity.BasOrg">
		insert into bas_org (ORG_ID, ORG_NAME, PARENT_ID,
		ORG_TYPE, ORG_ADDRESS, ORG_LEADER,
		MOBILE, EMAIL, CREATE_ID,
		CREATE_DATE, UPDATE_ID, UPDATE_DATE,
		REMARK, DEL_FLAG, ORG_CODE
		)
		values (#{orgId,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR},
		#{parentId,jdbcType=VARCHAR},
		#{orgType,jdbcType=INTEGER}, #{orgAddress,jdbcType=VARCHAR}, #{orgLeader,jdbcType=VARCHAR},
		#{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
		#{createId,jdbcType=VARCHAR},
		#{createDate,jdbcType=TIMESTAMP}, #{updateId,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP},
		#{remark,jdbcType=VARCHAR}, #{delFlag,jdbcType=INTEGER},
		#{orgCode,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.richfit.bjsop.entity.BasOrg">
		insert into bas_org
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orgId != null">
				ORG_ID,
			</if>
			<if test="orgName != null">
				ORG_NAME,
			</if>
			<if test="parentId != null">
				PARENT_ID,
			</if>
			<if test="orgType != null">
				ORG_TYPE,
			</if>
			<if test="orgAddress != null">
				ORG_ADDRESS,
			</if>
			<if test="orgLeader != null">
				ORG_LEADER,
			</if>
			<if test="mobile != null">
				MOBILE,
			</if>
			<if test="email != null">
				EMAIL,
			</if>
			<if test="createId != null">
				CREATE_ID,
			</if>
			<if test="createDate != null">
				CREATE_DATE,
			</if>
			<if test="updateId != null">
				UPDATE_ID,
			</if>
			<if test="updateDate != null">
				UPDATE_DATE,
			</if>
			<if test="remark != null">
				REMARK,
			</if>
			<if test="delFlag != null">
				DEL_FLAG,
			</if>
			<if test="orgCode != null">
				ORG_CODE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="orgId != null">
				#{orgId,jdbcType=VARCHAR},
			</if>
			<if test="orgName != null">
				#{orgName,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=VARCHAR},
			</if>
			<if test="orgType != null">
				#{orgType,jdbcType=INTEGER},
			</if>
			<if test="orgAddress != null">
				#{orgAddress,jdbcType=VARCHAR},
			</if>
			<if test="orgLeader != null">
				#{orgLeader,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="createId != null">
				#{createId,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateId != null">
				#{updateId,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=INTEGER},
			</if>
			<if test="orgCode != null">
				#{orgCode,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.richfit.bjsop.entity.BasOrg">
		update bas_org
		<set>
			<if test="orgName != null">
				ORG_NAME = #{orgName,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				PARENT_ID = #{parentId,jdbcType=VARCHAR},
			</if>
			<if test="orgType != null">
				ORG_TYPE = #{orgType,jdbcType=INTEGER},
			</if>
			<if test="orgAddress != null">
				ORG_ADDRESS = #{orgAddress,jdbcType=VARCHAR},
			</if>
			<if test="orgLeader != null">
				ORG_LEADER = #{orgLeader,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				MOBILE = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				EMAIL = #{email,jdbcType=VARCHAR},
			</if>
			<if test="createId != null">
				CREATE_ID = #{createId,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateId != null">
				UPDATE_ID = #{updateId,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				DEL_FLAG = #{delFlag,jdbcType=INTEGER},
			</if>
			<if test="orgCode != null">
				ORG_CODE = #{orgCode,jdbcType=VARCHAR},
			</if>
		</set>
		where ORG_ID = #{orgId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.richfit.bjsop.entity.BasOrg">
		update bas_org
		set ORG_NAME = #{orgName,jdbcType=VARCHAR},
		PARENT_ID = #{parentId,jdbcType=VARCHAR},
		ORG_TYPE = #{orgType,jdbcType=INTEGER},
		ORG_ADDRESS = #{orgAddress,jdbcType=VARCHAR},
		ORG_LEADER = #{orgLeader,jdbcType=VARCHAR},
		MOBILE = #{mobile,jdbcType=VARCHAR},
		EMAIL = #{email,jdbcType=VARCHAR},
		CREATE_ID = #{createId,jdbcType=VARCHAR},
		CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
		UPDATE_ID = #{updateId,jdbcType=VARCHAR},
		UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
		REMARK = #{remark,jdbcType=VARCHAR},
		DEL_FLAG = #{delFlag,jdbcType=INTEGER},
		ORG_CODE = #{orgCode,jdbcType=VARCHAR}
		where ORG_ID = #{orgId,jdbcType=VARCHAR}
	</update>

	<select id="selectOil" resultMap="BaseResultMap" parameterType="HashMap">
		select
		<include refid="Base_Column_List" />
		from bas_org
		where ORG_TYPE = 2
	</select>
	<select id="selectAll" resultMap="BaseResultMap" parameterType="HashMap">
		select
		<include refid="Base_Column_List" />
		from bas_org
		where del_flag=0
	</select>
	<select id="selectCompany" resultMap="BaseResultMap" parameterType="HashMap">
		select
		<include refid="Base_Column_List" />
		from bas_org
		where ORG_TYPE = 3 OR ORG_TYPE = 1 or org_id='0001'
	</select>
	<select id="queryCompany" resultMap="BaseResultMap" parameterType="Object">
		select
		ORG_ID,ORG_NAME
		from bas_org
		where ORG_ID = #{orgId,jdbcType=VARCHAR}
	</select>
	
	<select id="queryCode" resultMap="BaseResultMap" parameterType="Object">
		select * from bas_org o where o.DEL_FLAG=0 and o.CERTIFICATE_CODE=#{code,jdbcType=VARCHAR}
	</select>
	
	<!-- 查询组织机构 不分页 -->
<select id="queryXsdwList" parameterType="Map" resultType="HashMap">
	select o.ORG_ID,o.ORG_NAME from BAS_ORG o where o.DEL_FLAG=0 and o.ORG_TYPE in(1,3) or o.ORG_ID='0001'
</select>



<select id="queryBySzhyCode" resultMap="BaseResultMap" parameterType="HashMap">
		select
		<include refid="Base_Column_List" />
		from bas_org
		where DEL_FLAG=0 and CERTIFICATE_CODE=#{szhyCode}
	</select>
</mapper>