<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.richfit.bjsop.entity.BasUser" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.richfit.bjsop.entity.BasUser" >
	<result column="USER_ID" property="userId"/>
	<result column="CUS_ID" property="cusId"/>
	<result column="LOGIN_NAME" property="loginName"/>
	<result column="LOGIN_PASSWORD" property="loginPassword"/>
	<result column="USER_TYPE" property="userType"/>
	<result column="STATE" property="state"/>
	<result column="CREATE_ID" property="createId"/>
	<result column="CREATE_DATE" property="createDate"/>
	<result column="UPDATE_ID" property="updateId"/>
	<result column="UPDATE_DATE" property="updateDate"/>
	<result column="REMARK" property="remark"/>
	<result column="DEL_FLAG" property="delFlag"/>
	<result column="LAST_LOGIN_TIME" property="lastLoginTime"/>
	<result column="LOGIN_IP" property="loginIp"/>
	
	<result column="EMP_ID" property="empId"/>
	<result column="EMP_NAME" property="empName"/>
	<result column="ORG_ID" property="orgId"/>
	<result column="ORG_NAME" property="orgName"/>
	<result column="ORG_TYPE" property="orgType"/>
	
	<result column="CUS_EMP_MOBILE" property="cusEmpMobile"/>
	
	<result column="LINK_USER" property="linkUser"/>
</resultMap>
       
<!-- bas_user table all fields -->
<sql id="Base_Column_List" >
	 bu.USER_ID,bu.CUS_ID,bu.LOGIN_NAME,bu.LOGIN_PASSWORD,bu.USER_TYPE,bu.STATE,bu.CREATE_ID,bu.CREATE_DATE,bu.UPDATE_ID,
	 bu.UPDATE_DATE,bu.REMARK,bu.DEL_FLAG,bu.LAST_LOGIN_TIME,bu.LOGIN_IP,
	 be.EMP_ID,be.EMP_NAME,be.ORG_ID,
	 bo.ORG_NAME,bo.ORG_TYPE
</sql>
   
<!-- 查询用户信息 -->
<select id="selectBasUser" parameterType="Map" resultType="HashMap">
	select * from Bas_User where USER_ID=#{USER_ID}
</select>

<select id="selectBasUserGetObj" resultMap="BaseResultMap" parameterType="Object">
	select * from Bas_User where USER_ID=#{userId}
</select>

<!-- 查询机构类型信息 -->
  <select id="selectUserType" parameterType="Map" resultType="HashMap">
    SELECT DIC_CODE as "value" ,DIC_NAME as "key" FROM BAS_DIC where dic_id like '%user_type%'
 </select>
 
 <!-- 查询机构类型信息 -->
  <select id="selectUserState" parameterType="Map" resultType="HashMap">
    SELECT DIC_CODE as "value" ,DIC_NAME as "key" FROM BAS_DIC where dic_id like '%user_state%'
 </select>

<!-- 查询用户列表信息(客户) -->
<select id="selectBasUserListBy" parameterType="Map" resultType="HashMap">
	select m.USER_ID,
       t.CUS_COMPANY,
       m.LOGIN_NAME,
       decode(m.USER_TYPE, '0', '主账户', '1', '子账户', '2', '管理人员') as USER_TYPE,
       decode(m.STATE, '0', '已注册', '1', '已激活', '2', '停用') as STATE,
       m.CREATE_ID,
       m.CREATE_DATE,
       m.UPDATE_ID,
       m.UPDATE_DATE,
       m.REMARK,
       LOGIN_IP,
       LAST_LOGIN_TIME,
       decode(m.DEL_FLAG, '0', '正常', '1', '删除') as DEL_FLAG
  from Bas_User m
  left join cus_info t on t.cus_id = m.cus_id
 where 1 = 1
   and (m.USER_TYPE = 0 or m.USER_TYPE = 1)
	<if test="LOGIN_NAME != null and LOGIN_NAME != '' ">
      and LOGIN_NAME like '%' || #{LOGIN_NAME} || '%'
    </if>
    <if test="USER_TYPE != null and USER_TYPE != '' ">
      and USER_TYPE = #{USER_TYPE}
    </if>
</select>

<!-- 查询用户列表信息(管理人员) -->
<select id="selectBasUserChangeListBy" parameterType="Map" resultType="HashMap">
	select USER_ID,CUS_ID,(select emp_name from bas_emp where emp_id = t.cus_id) as CUS_NAME,LOGIN_NAME,decode(USER_TYPE,'0','主账户','1','子账户','2','管理人员') as USER_TYPE,decode(STATE,'0','已注册','1','已激活','2','停用') as STATE,CREATE_ID,CREATE_DATE,UPDATE_ID,UPDATE_DATE,REMARK,LOGIN_IP,LAST_LOGIN_TIME from Bas_User t
  where 1=1 and (USER_TYPE=2)
	<if test="LOGIN_NAME != null and LOGIN_NAME != '' ">
      and LOGIN_NAME like '%' || #{LOGIN_NAME} || '%'
    </if>
    <if test="USER_TYPE != null and USER_TYPE != '' ">
      and USER_TYPE = #{USER_TYPE}
    </if>
</select>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="userId != null and userId != ''" >
	    and bu.USER_ID =  #{userId}
	</if>
	<if test="cusId != null and cusId != ''" >
	    and bu.CUS_ID =  #{cusId}
	</if>
	<if test="loginName != null and loginName != ''" >
	    and bu.LOGIN_NAME =  #{loginName}
	</if>
	<if test="loginPassword != null and loginPassword != ''" >
	    and bu.LOGIN_PASSWORD =  #{loginPassword}
	</if>
	<if test="userType != null and userType != ''" >
	    and bu.USER_TYPE =  #{userType}
	</if>
	<if test="state != null and state != ''" >
	    and bu.STATE =  #{state}
	</if>
	<if test="createId != null and createId != ''" >
	    and bu.CREATE_ID =  #{createId}
	</if>
	<if test="createDate != null and createDate != ''" >
	    and bu.CREATE_DATE =  #{createDate}
	</if>
	<if test="updateId != null and updateId != ''" >
	    and bu.UPDATE_ID =  #{updateId}
	</if>
	<if test="updateDate != null and updateDate != ''" >
	    and bu.UPDATE_DATE =  #{updateDate}
	</if>
	<if test="remark != null and remark != ''" >
	    and bu.REMARK =  #{remark}
	</if>
	<if test="delFlag != null and delFlag != ''" >
	    and bu.DEL_FLAG =  #{delFlag}
	</if>
	<if test="lastLoginTime != null and lastLoginTime != ''" >
	    and bu.LAST_LOGIN_TIME =  #{lastLoginTime}
	</if>
	<if test="loginIp != null and loginIp != ''" >
	    and bu.LOGIN_IP =  #{loginIp}
	</if>
</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  insert into bas_user(USER_TYPE,STATE,CREATE_ID,CREATE_DATE,UPDATE_ID,UPDATE_DATE,REMARK,DEL_FLAG,USER_ID,CUS_ID,LOGIN_NAME,LOGIN_PASSWORD)
 values(
	 #{userType,jdbcType=INTEGER},
	 #{state,jdbcType=INTEGER},
	 #{createId,jdbcType=VARCHAR},
	 #{createDate,jdbcType=TIMESTAMP},
	 #{updateId,jdbcType=VARCHAR},
	 #{updateDate,jdbcType=TIMESTAMP},
	 #{remark,jdbcType=VARCHAR},
	 #{delFlag,jdbcType=VARCHAR},
	 #{userId,jdbcType=VARCHAR},
	 #{cusId,jdbcType=VARCHAR},
	 #{loginName,jdbcType=VARCHAR},
	 #{loginPassword,jdbcType=VARCHAR}
	 )
</insert>

<!-- 插入记录 -->
<insert id="addUser" parameterType="Map" >
	<selectKey keyProperty="uuid" resultType="String" order="BEFORE">
	    select sys_guid() from dual
	</selectKey>
  insert into bas_user(USER_ID,LOGIN_NAME,USER_TYPE,STATE,CREATE_ID,CREATE_DATE,UPDATE_ID,UPDATE_DATE,REMARK,DEL_FLAG)
 values(
 	 #{uuid},
	 #{LOGIN_NAME},
	 #{USER_TYPE},
	 #{STATE},
	 #{createId},
	 #{createDate},
	 #{updateId},
	 #{updateDate},
	 #{REMARK},
	 #{delFlag}
	 )
</insert>

<!-- 插入记录 -->
<update id="allotEmp" parameterType="Map" >
  update bas_user set CUS_ID=#{CUS_ID} where user_id=#{USER_ID}
</update>

<!-- 根据id，修改记录-->  
 <update id="updateUser" parameterType="Map">
  update bas_user set LOGIN_NAME=#{LOGIN_NAME},USER_TYPE=#{USER_TYPE},STATE=#{STATE},CREATE_ID=#{createId},UPDATE_ID=#{updateId},UPDATE_DATE=#{updateDate},REMARK=#{REMARK},DEL_FLAG=#{delFlag} where USER_ID=#{USER_ID}
 </update>
 
 <!-- 修改登录IP和时间-->  
 <update id="UpdateIpTime" parameterType="Map">
  update bas_user set LOGIN_IP=#{LOGIN_IP},LAST_LOGIN_TIME=#{LAST_LOGIN_TIME} where USER_ID=#{USER_ID}
 </update>
 
  <!-- 删除用户信息 -->
<delete id="deleteUser" parameterType="Map">
	delete bas_user where USER_ID=#{USER_ID}
</delete>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update bas_user set 
	<trim  suffixOverrides="," >
	<if test="cusId != null  ">
		CUS_ID=#{cusId},
	</if>
	<if test="loginName != null  ">
		LOGIN_NAME=#{loginName},
	</if>
	<if test="loginPassword != null  ">
		LOGIN_PASSWORD=#{loginPassword},
	</if>
	<if test="userType != null  ">
		USER_TYPE=#{userType},
	</if>
	<if test="state != null  ">
		STATE=#{state},
	</if>
	<if test="createId != null  ">
		CREATE_ID=#{createId},
	</if>
	<if test="createDate != null  ">
		CREATE_DATE=#{createDate},
	</if>
	<if test="updateId != null  ">
		UPDATE_ID=#{updateId},
	</if>
	<if test="updateDate != null  ">
		UPDATE_DATE=#{updateDate},
	</if>
	<if test="remark != null  ">
		REMARK=#{remark},
	</if>
	<if test="delFlag != null  ">
		DEL_FLAG=#{delFlag},
	</if>
	<if test="lastLoginTime != null  ">
		LAST_LOGIN_TIME=#{lastLoginTime},
	</if>
	<if test="loginIp != null  ">
		LOGIN_IP=#{loginIp},
	</if>
	</trim> where USER_ID=#{userId}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	update bas_user set del_flag=1 where USER_ID = #{userId}
</delete>
 
<!-- 根据id查询 bas_user -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from bas_user where USER_ID = #{userId}
</select>

<!-- bas_user 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from bas_user 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询bas_user列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from bas_user bu
	left join bas_emp be on be.del_flag=0 and bu.cus_id=be.emp_id
	left join bas_org bo on bo.del_flag=0 and be.org_id=bo.org_id
	<include refid="Example_Where_Clause"/>
	<if test="orderByClause != null and orderByClause != ''" >
       order by  ${orderByClause}
    </if>
    <if test="limitClause != null and limitClause != ''" >
       ${limitClause}
    </if>
</select>
<!-- 前台登录 -->
<select id="queryByList11" resultMap="BaseResultMap"  parameterType="Object">
	select  bu.USER_ID,bu.CUS_ID,bu.LOGIN_NAME,bu.LOGIN_PASSWORD,bu.USER_TYPE,
			bu.STATE,bu.CREATE_ID,bu.CREATE_DATE,bu.UPDATE_ID,
	 		bu.UPDATE_DATE,bu.REMARK,bu.DEL_FLAG,bu.LAST_LOGIN_TIME,bu.LOGIN_IP
	from bas_user bu
	where 1=1 and bu.DEL_FLAG=0
	<if test="loginName != null and loginName != ''" >
       and bu.LOGIN_NAME=#{loginName}
    </if>
    <if test="loginPassword != null and loginPassword != ''" >
       and bu.LOGIN_PASSWORD=#{loginPassword}
    </if> 
    <if test="state != null and state != ''" >
       and bu.STATE=#{state}
    </if> 
	and bu.USER_TYPE in(0,1,3)
</select>

<!-- 查询bas_user列表 -->
<select id="queryByLoginName" resultMap="BaseResultMap"  parameterType="Object">
	select * from bas_user bu where 1=1
	<if test="delFlag != null" >
	    and bu.DEL_FLAG =  #{delFlag}
	</if>
	<if test="loginName != null" >
	    and bu.LOGIN_NAME =  #{loginName}
	</if>
</select>

<!-- 查询bas_user列表(获取账号详细信息，通过主次账号登录名及客户ID获取) -->
<select id="queryByCusId" resultMap="BaseResultMap"  parameterType="Object">
	select * from bas_user b where 1=1 
	<if test="delFlag != null" >
	    and b.DEL_FLAG =  #{delFlag}
	</if>
	<if test="cusId != null" >
	    and b.CUS_ID =  #{cusId} and b.user_type=0
	</if>
	<if test="userId != null" >
	    and b.USER_ID =  #{userId}
	</if>
</select>

<!-- 修改登录IP和时间-->  
 <update id="UpdateLoginPassword" parameterType="Map">
  	update bas_user set LOGIN_PASSWORD=#{loginPassword} where USER_ID=#{userId} and DEL_FLAG=0
 </update>
  
  
  <!-- 查询user列表 -->
<select id="queryUserListByUserId" resultMap="BaseResultMap"  parameterType="Object">
	select * from bas_user bu where 1=1
	<if test="delFlag != null" >
	    and bu.DEL_FLAG =  #{delFlag}
	</if>
	<if test="userId != null" >
	    and bu.LINK_USER =  #{userId}
	</if>
</select> 	
  <!-- 查询user列表 -->
<select id="queryUserListByUserIdForLogin" resultMap="BaseResultMap"  parameterType="Object">
	select * from bas_user bu where 1=1
	<if test="delFlag != null" >
	    and bu.DEL_FLAG =  #{delFlag}
	</if>
	<if test="userId != null" >
	    and bu.USER_ID =  #{userId}
	</if>
</select> 	


</mapper>   
