<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.richfit.bjsop.entity.CusInfo" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.richfit.bjsop.entity.CusInfo" >
	<result column="CUS_ID" property="cusId"/>
	<result column="CUS_CODE" property="cusCode"/>
	<result column="CUS_TYPE" property="cusType"/>
	<result column="CUS_COMPANY" property="cusCompany"/>
	<result column="CUS_PROVINCE" property="cusProvince"/>
	<result column="CUS_CITY" property="cusCity"/>
	<result column="CUS_AREA" property="cusArea"/>
	<result column="CUS_ADDRESS" property="cusAddress"/>
	<result column="CUS_POSTCODE" property="cusPostcode"/>
	<result column="CUS_LEADER" property="cusLeader"/>
	<result column="CUS_OFFICEPHONE" property="cusOfficephone"/>
	<result column="CUS_EMAIL" property="cusEmail"/>
	<result column="CUS_MOBILE" property="cusMobile"/>
	<result column="CUS_GRADE" property="cusGrade"/>
	<result column="CREATE_ID" property="createId"/>
	<result column="CREATE_DATE" property="createDate"/>
	<result column="UPDATE_ID" property="updateId"/>
	<result column="UPDATE_DATE" property="updateDate"/>
	<result column="CUS_STATE" property="cusState"/>
	<result column="CUS_WORKSTATE" property="cusWorkstate"/>
	<result column="REMARK" property="remark"/>
	<result column="DEL_FLAG" property="delFlag"/>
	<result column="CUS_GRADE_TEMP" property="cusGradeTemp"/>
	<result column="CUS_ORG" property="cusOrg"/>
	<result column="CUSTYPE_NAME" property="custypeName"/>
	<result column="CUSTYPESUB_NAME" property="custypesubName"/>
	<result column="CUSTYPE_CODE" property="custypeCode"/>
	<result column="USER_TYPE" property="userType"/>
	
	<result column="CUS_SELF_CODE" property="cusSelfCode"/>
	<result column="CUS_BUY_STATE" property="cusBuyState"/>
	<result column="CUS_OIL_PLACE" property="cusOilPlace"/>
	<result column="CUS_QULITY_ATTACHES" property="cusQulityAttaches"/>
	
	<result column="EMP_ID" property="empId"/>
	<result column="EMP_NAME" property="empName"/>
	<result column="EMP_MOBILE" property="empMobile"/>
	<result column="OFFICE_PHONE" property="officePhone"/>
	<result column="EMP_EMAIL" property="empEmail"/>
	<result column="ORG_ID" property="orgId"/>
	<result column="ORG_NAME" property="orgName"/>
	<result column="ORG_ADDRESS" property="orgAddress"/>
	<result column="CUS_ORG_NAME" property="cusOrgName"/>
	<result column="CUS_SALER" property="cusSaler"/>
	<result column="CUS_SALER_NAME" property="cusSalerName"/>
	
	<result column="CUS_GRADE_NAME" property="cusGradeName"/>
	<result column="CUS_GRADE_TEMP_NAME" property="cusGradeTempName"/>
	<result column="CUS_LOGIN_NAME" property="cusLoginName"/>
	<result column="USER_ID" property="userId"/>
	
	<result column="GRADE_EVA_ID" property="gradeEvaId"/>
	<result column="EVALUE_LEVEL_NAME" property="evalueLevelName"/>
	<result column="VALID_LEVEL_NAME" property="validLevelName"/>
	<result column="EVALUE_LEVEL" property="evalueLevel"/>
	<result column="VALID_LEVEL" property="validLevel"/>
	
	<result column="CUS_STATE_NAME" property="cusStateName"/>
	
	<result column="GROUP_ID" property="groupId"/>
	<result column="GROUP_NAME" property="groupName"/>
	<result column="LINK_ID" property="linkId"/>

	<result column="intention_count" property="intentionCount"/>
	
	<result column="is_sms" property="isSms"/>
	<result column="EMP_PHOTO" property="empPhoto"/>
	
	<result column="SZHY_CODE" property="szhyCode"/>
	<result column="REGISTER_ORG" property="registerOrg"/>
	<result column="CUS_REGNO" property="cusRegno"/>
	<result column="REGISTER_CAPITAL" property="registerCapital"/>
	<result column="REGISTER_CUR" property="registerCur"/>
	<result column="TAX_NO" property="taxNo"/>
	<result column="ORG_NO" property="orgNo"/>
	<result column="CUS_NATURE" property="cusNature"/>
	<result column="CUS_BANK" property="cusBank"/>
	<result column="CUS_POST" property="cusPost"/>
	<result column="CUS_ACCOUNT" property="cusAccount"/>
	<result column="CUS_BUS1" property="cusBus1"/>
	<result column="CUS_CURRENT" property="cusCurrent"/>
	<result column="CUS_CONTACT" property="cusContact"/>
	<result column="COMPANY_TYPE" property="companyType"/>
	
	<result column="COMMON_USER_NAME" property="commonUserName"/>
	<result column="COMMON_USER_ID" property="commonUserId"/>
	<result column="PHONE_NUMBER" property="phoneNumber"/>
	
	<result column="CYS" property="cys"/>
	<result column="CYS_NAME" property="cysName"/>
	<result column="ORG_ATTRIBUTE" property="orgAttribute"/>
	<result column="ORG_ATTRIBUTE_NAME" property="orgAttributeName"/>
	
</resultMap>
       
<!-- cus_info table all fields -->
<sql id="Base_Column_List" >
	 c.*
	 ,(select b.CARRIER_NAME from bas_carrier b where b.DEL_FLAG=0 and b.CARRIER_ID=c.CYS)as CYS_NAME
	 ,(select dic_name from bas_dic bd where bd.dic_id = c.ORG_ATTRIBUTE)as ORG_ATTRIBUTE_NAME
	 ,(select org_name from BAS_ORG o where o.del_flag=0 and o.org_id=c.cus_org) CUS_ORG_NAME
	 ,(select EMP_ID from bas_emp e where e.emp_id=(select max(emp_id) from CUS_EMPLINK el where el.del_flag=0 and el.cus_id=c.cus_id)) CUS_SALER
	 ,(select EMP_NAME from bas_emp e where e.emp_id=(select max(emp_id) from CUS_EMPLINK el where el.del_flag=0 and el.cus_id=c.cus_id)) CUS_SALER_NAME
	 ,(select DIC_NAME from BAS_DIC d where d.DIC_CODE=c.CUS_GRADE) CUS_GRADE_NAME
	 ,(select max(LOGIN_NAME) from BAS_USER bu where bu.cus_id=c.cus_id and bu.del_flag=0) CUS_LOGIN_NAME
	 ,(select max(USER_ID) from BAS_USER bu where bu.cus_id=c.cus_id and bu.del_flag=0) USER_ID
	 ,(select b.dic_name from BAS_DIC b where b.parenet_id='4' and b.dic_code=c.cus_state)as cusStateName
	 ,cge.GRADE_EVA_ID,cge.EVALUE_LEVEL,cge.VALID_LEVEL,d.DIC_NAME as EVALUE_LEVEL_NAME,dd.DIC_NAME as VALID_LEVEL_NAME,
	 (select count(1) from bil_intention  bi where bi.del_flag=0 and  bi.cus_id=c.cus_id and bi.state=0) intention_count
</sql>
   
   <!-- cus_info table all fields -->
<sql id="Base_Column_List2" >
	 c.*
	 ,(select org_name from BAS_ORG o where o.del_flag=0 and o.org_id=c.cus_org) CUS_ORG_NAME
	 ,(select EMP_ID from bas_emp e where e.emp_id=(select max(emp_id) from CUS_EMPLINK el where el.del_flag=0 and el.cus_id=c.cus_id)) CUS_SALER
	 ,(select EMP_NAME from bas_emp e where e.emp_id=(select max(emp_id) from CUS_EMPLINK el where el.del_flag=0 and el.cus_id=c.cus_id)) CUS_SALER_NAME
	 ,(select max(LOGIN_NAME) from BAS_USER bu where bu.cus_id=c.cus_id and bu.del_flag=0) CUS_LOGIN_NAME
	 ,(select max(USER_ID) from BAS_USER bu where bu.cus_id=c.cus_id and bu.del_flag=0) USER_ID
	 ,(select b.dic_name from BAS_DIC b where b.parenet_id='4' and b.dic_code=c.cus_state)as cusStateName,
	 (select count(1) from bil_intention  bi where bi.del_flag=0 and  bi.cus_id=c.cus_id and bi.state=0) intention_count
</sql>
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="cusId != null and cusId != ''" >
	    and c.CUS_ID =  #{cusId}
	</if>
	<if test="cusCode != null and cusCode != ''" >
	    and c.CUS_CODE =  #{cusCode}
	</if>
	<if test="cusType != null and cusType != ''" >
	    and c.CUS_TYPE =  #{cusType}
	</if>
	<if test="cusCompany != null and cusCompany != ''" >
	    and c.CUS_COMPANY like '%' || #{cusCompany} || '%' 
	</if>
	<if test="cusProvince != null and cusProvince != ''" >
	    and c.CUS_PROVINCE =  #{cusProvince}
	</if>
	<if test="cusCity != null and cusCity != ''" >
	    and c.CUS_CITY =  #{cusCity}
	</if>
	<if test="cusArea != null and cusArea != ''" >
	    and c.CUS_AREA =  #{cusArea}
	</if>
	<if test="cusAddress != null and cusAddress != ''" >
	    and c.CUS_ADDRESS =  #{cusAddress}
	</if>
	<if test="cusPostcode != null and cusPostcode != ''" >
	    and c.CUS_POSTCODE =  #{cusPostcode}
	</if>
	<if test="cusLeader != null and cusLeader != ''" >
	    and c.CUS_LEADER =  #{cusLeader}
	</if>
	<if test="cusOfficephone != null and cusOfficephone != ''" >
	    and c.CUS_OFFICEPHONE =  #{cusOfficephone}
	</if>
	<if test="cusEmail != null and cusEmail != ''" >
	    and c.CUS_EMAIL =  #{cusEmail}
	</if>
	<if test="cusMobile != null and cusMobile != ''" >
	    and c.CUS_MOBILE =  #{cusMobile}
	</if>
	<if test="cusGrade != null and cusGrade != ''" >
	    and c.CUS_GRADE =  #{cusGrade}
	</if>
	<if test="createId != null and createId != ''" >
	    and c.CREATE_ID =  #{createId}
	</if>
	<if test="createDate != null and createDate != ''" >
	    and c.CREATE_DATE =  #{createDate}
	</if>
	<if test="updateId != null and updateId != ''" >
	    and c.UPDATE_ID =  #{updateId}
	</if>
	<if test="updateDate != null and updateDate != ''" >
	    and c.UPDATE_DATE =  #{updateDate}
	</if>
	<if test="cusState != null and cusState != ''" >
	    and c.CUS_STATE =  #{cusState}
	</if>
	<if test="cusWorkstate != null and cusWorkstate != ''" >
	    and c.CUS_WORKSTATE =  #{cusWorkstate}
	</if>
	<if test="cusWorkstateNot != null and cusWorkstateNot != ''" >
	    and c.CUS_WORKSTATE !=  #{cusWorkstateNot}
	</if>
	<if test="remark != null and remark != ''" >
	    and c.REMARK =  #{remark}
	</if>
	<if test="delFlag != null" >
	    and c.DEL_FLAG =  #{delFlag}
	</if>
	<if test="cusGradeTemp != null and cusGradeTemp != ''" >
	    and c.c.CUS_GRADE_TEMP =  #{cusGradeTemp}
	</if>
	<if test="cusOrg != null and cusOrg != ''" >
	    and c.CUS_ORG =  #{cusOrg}
	</if>
	<if test="cusBuyState != null and cusBuyState != ''" >
	    and c.CUS_BUY_STATE =  #{cusBuyState}
	</if>
	<if test="cusOilPlace != null and cusOilPlace != ''" >
	    and c.CUS_OIL_PLACE =  #{cusOilPlace}
	</if>
	<if test="cusOrgName != null and cusOrgName != ''" >
	    and c.cus_org in(select org_id from bas_org where ORG_NAME like  '%' || #{cusOrgName} || '%')
	</if>
	<if test="cusSaler != null and cusSaler != ''" >
	    and c.cus_id in(select cus_id from CUS_EMPLINK el  where el.del_flag=0 and el.emp_id = #{cusSaler} )
	</if>
	<if test="cusSalerName != null and cusSalerName != ''" >
	    and c.cus_id in(select cus_id from CUS_EMPLINK el  where el.del_flag=0 and el.emp_id in (select emp_id from bas_emp where emp_name like  '%' || #{cusSalerName} || '%'))
	</if>
	<if test="isSms != null and isSms != ''" >
	    and c.is_sms=#{isSms}
	</if>
	
	<if test="cys != null and cys != ''" >
	    and c.CYS=#{cys}
	</if>
	<if test="orgAttribute != null and orgAttribute != ''" >
	    and c.ORG_ATTRIBUTE=#{orgAttribute}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Map" >
  insert into cus_info(CUS_ID,CUS_CODE,CUS_TYPE,CUS_COMPANY,CUS_PROVINCE,CUS_CITY,CUS_AREA,CUS_ADDRESS,CUS_POSTCODE,
  	CUS_LEADER,CUS_OFFICEPHONE,CUS_EMAIL,CUS_MOBILE,CUS_GRADE,CREATE_ID,CREATE_DATE,UPDATE_ID,UPDATE_DATE,CUS_STATE,
  		CUS_WORKSTATE,REMARK,DEL_FLAG,CUS_GRADE_TEMP,CUS_ORG,CUS_SELF_CODE,
  		SZHY_CODE,REGISTER_ORG,CUS_REGNO,REGISTER_CAPITAL,
  		REGISTER_CUR,TAX_NO,ORG_NO,CUS_NATURE,CUS_BANK,CUS_POST,CUS_ACCOUNT,CUS_BUS1,CUS_CURRENT,CUS_CONTACT,COMPANY_TYPE,
  		CUS_BUY_STATE,CUS_OIL_PLACE,CUS_QULITY_ATTACHES,CYS,ORG_ATTRIBUTE)
 values(
 	 #{cusId,jdbcType=VARCHAR},
	 #{cusCode,jdbcType=VARCHAR},
	 #{cusType,jdbcType=VARCHAR},
	 #{cusCompany,jdbcType=VARCHAR},
	 #{cusProvince,jdbcType=VARCHAR},
	 #{cusCity,jdbcType=VARCHAR},
	 #{cusArea,jdbcType=VARCHAR},
	 #{cusAddress,jdbcType=VARCHAR},
	 #{cusPostcode,jdbcType=VARCHAR},
	 #{cusLeader,jdbcType=VARCHAR},
	 #{cusOfficephone,jdbcType=VARCHAR},
	 #{cusEmail,jdbcType=VARCHAR},
	 #{cusMobile,jdbcType=VARCHAR},
	 #{cusGrade,jdbcType=VARCHAR},
	 #{createId,jdbcType=VARCHAR},
	 #{createDate,jdbcType=TIMESTAMP},
	 #{updateId,jdbcType=VARCHAR},
	 #{updateDate,jdbcType=TIMESTAMP},
	 #{cusState,jdbcType=INTEGER},
	 #{cusWorkstate,jdbcType=INTEGER},
	 #{remark,jdbcType=VARCHAR},
	 #{delFlag,jdbcType=INTEGER},
	 #{cusGradeTemp,jdbcType=VARCHAR},
	 #{cusOrg,jdbcType=VARCHAR},
	 #{cusSelfCode,jdbcType=VARCHAR},
	 #{szhyCode,jdbcType=VARCHAR},
	 #{registerOrg,jdbcType=VARCHAR},
	 #{cusRegno,jdbcType=VARCHAR},
	 #{registerCapital,jdbcType=VARCHAR},
	 #{registerCur,jdbcType=VARCHAR},
	 #{taxNo,jdbcType=VARCHAR},
	 #{orgNo,jdbcType=VARCHAR},
	 #{cusNature,jdbcType=VARCHAR},
	 #{cusBank,jdbcType=VARCHAR},
	 #{cusPost,jdbcType=VARCHAR},
	 #{cusAccount,jdbcType=VARCHAR},
	 #{cusBus1,jdbcType=VARCHAR},
	 #{cusCurrent,jdbcType=VARCHAR},
	 #{cusContact,jdbcType=VARCHAR},
	 #{companyType,jdbcType=VARCHAR},
	 #{cusBuyState,jdbcType=VARCHAR},
	 #{cusOilPlace,jdbcType=VARCHAR},
	 #{cusQulityAttaches,jdbcType=VARCHAR},
	 #{cys,jdbcType=VARCHAR},
	 #{orgAttribute,jdbcType=VARCHAR}
	 )
</insert>

<!-- 根据id，修改客户等级-->  
 <update id="updateGrade" parameterType="Object" >
  	update cus_info set CUS_GRADE=#{cusGrade},CUS_GRADE_TEMP='1' where CUS_ID=#{cusId}
 </update>

<!-- 根据id，修改客户等级-->  
 <update id="updateCusGrade" parameterType="Object" >
  	update cus_info c set CUS_GRADE= 
       (select cge.evalue_level from cus_grade_evalue cge where c.cus_id=cge.cus_id and cge.del_flag=0),CUS_GRADE_TEMP='1'
       where CUS_ID = #{cusId}
 </update>


<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update cus_info set CUS_CODE=#{cusCode},CUS_TYPE=#{cusType},CUS_COMPANY=#{cusCompany},CUS_PROVINCE=#{cusProvince},CUS_CITY=#{cusCity},CUS_AREA=#{cusArea},CUS_ADDRESS=#{cusAddress},CUS_POSTCODE=#{cusPostcode},CUS_LEADER=#{cusLeader},CUS_OFFICEPHONE=#{cusOfficephone},CUS_EMAIL=#{cusEmail},CUS_MOBILE=#{cusMobile},CUS_GRADE=#{cusGrade},CREATE_ID=#{createId},CREATE_DATE=#{createDate},UPDATE_ID=#{updateId},UPDATE_DATE=#{updateDate},CUS_STATE=#{cusState},CUS_WORKSTATE=#{cusWorkstate},REMARK=#{remark},DEL_FLAG=#{delFlag},CUS_GRADE_TEMP=#{cusGradeTemp},CUS_ORG=#{cusOrg},CYS=#{cys},ORG_ATTRIBUTE=#{orgAttribute} where CUS_ID=#{cusId}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update cus_info set 
	<trim  suffixOverrides="," >
	<if test="cusCode != null  ">
		CUS_CODE=#{cusCode},
	</if>
	<if test="cusType != null  ">
		CUS_TYPE=#{cusType},
	</if>
	<if test="cusCompany != null  ">
		CUS_COMPANY=#{cusCompany},
	</if>
	<if test="cusProvince != null  ">
		CUS_PROVINCE=#{cusProvince},
	</if>
	<if test="cusCity != null  ">
		CUS_CITY=#{cusCity},
	</if>
	<if test="cusArea != null  ">
		CUS_AREA=#{cusArea},
	</if>
	<if test="cusAddress != null  ">
		CUS_ADDRESS=#{cusAddress},
	</if>
	<if test="cusPostcode != null  ">
		CUS_POSTCODE=#{cusPostcode},
	</if>
	<if test="cusLeader != null  ">
		CUS_LEADER=#{cusLeader},
	</if>
	<if test="cusOfficephone != null  ">
		CUS_OFFICEPHONE=#{cusOfficephone},
	</if>
	<if test="cusEmail != null  ">
		CUS_EMAIL=#{cusEmail},
	</if>
	<if test="cusMobile != null  ">
		CUS_MOBILE=#{cusMobile},
	</if>
	<if test="cusGrade != null  ">
		CUS_GRADE=#{cusGrade},
	</if>
	<if test="createId != null  ">
		CREATE_ID=#{createId},
	</if>
	<if test="createDate != null  ">
		CREATE_DATE=#{createDate},
	</if>
	<if test="updateId != null  ">
		UPDATE_ID=#{updateId,jdbcType=VARCHAR},
	</if>
	<if test="updateDate != null  ">
		UPDATE_DATE=#{updateDate},
	</if>
	<if test="cusState != null  ">
		CUS_STATE=#{cusState},
	</if>
	<if test="cusWorkstate != null  ">
		CUS_WORKSTATE=#{cusWorkstate},
	</if>
	<if test="remark != null  ">
		REMARK=#{remark},
	</if>
	<if test="delFlag != null  ">
		DEL_FLAG=#{delFlag},
	</if>
	<if test="cusGradeTemp != null  ">
		CUS_GRADE_TEMP=#{cusGradeTemp},
	</if>
	<if test="cusOrg != null  ">
		CUS_ORG=#{cusOrg},
	</if>
	<if test="cusSelfCode != null  ">
		CUS_SELF_CODE=#{cusSelfCode},
	</if>
	<if test="szhyCode != null  ">
		SZHY_CODE=#{szhyCode},
	</if>
	<if test="registerOrg != null  ">
		REGISTER_ORG=#{registerOrg},
	</if>
	<if test="cusRegno != null  ">
		CUS_REGNO=#{cusRegno},
	</if>
		<if test="registerCapital != null  ">
		REGISTER_CAPITAL=#{registerCapital},
	</if>
		<if test="registerCur != null  ">
		REGISTER_CUR=#{registerCur},
	</if>
		<if test="taxNo != null  ">
		TAX_NO=#{taxNo},
	</if>
		<if test="orgNo != null  ">
		ORG_NO=#{orgNo},
	</if>
		<if test="cusNature != null  ">
		CUS_NATURE=#{cusNature},
	</if>
		<if test="cusBank != null  ">
		CUS_BANK=#{cusBank},
	</if>
		<if test="cusPost != null  ">
		CUS_POST=#{cusPost},
	</if>
		<if test="cusAccount != null  ">
		CUS_ACCOUNT=#{cusAccount},
	</if>
		<if test="cusBus1 != null  ">
		CUS_BUS1=#{cusBus1},
	</if>
		<if test="cusCurrent != null  ">
		CUS_CURRENT=#{cusCurrent},
	</if>
		<if test="cusContact != null  ">
		CUS_CONTACT=#{cusContact},
	</if>
	<if test="companyType != null  ">
		COMPANY_TYPE=#{companyType},
	</if>
	<if test="cusBuyState != null " >
	    CUS_BUY_STATE =  #{cusBuyState},
	</if>
	<if test="cusOilPlace != null " >
	    CUS_OIL_PLACE =  #{cusOilPlace},
	</if>
	<if test="cusQulityAttaches != null " >
	    cus_Qulity_Attaches =  #{cusQulityAttaches},
	</if>
		<if test="cys != null and cys != ''" >
	    CYS=#{cys},
	</if>
	<if test="orgAttribute != null and orgAttribute != ''" >
	    ORG_ATTRIBUTE=#{orgAttribute},
	</if>
	
	</trim> where CUS_ID=#{cusId}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	update cus_info set del_flag=1 where CUS_ID = #{cusId}
</delete>
 
<!-- 根据id查询 cus_info -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from cus_info c where CUS_ID = #{cusId}
</select>

<!-- 查询用户子帐号信息 -->
<select id="queryChildrenAccount" parameterType="Map" resultType="HashMap">
	select * from Bas_User where CUS_ID=#{cusId} and USER_TYPE='1'
	<if test="userId != null and userId != ''" >
	    and user_id =  #{userId}
	</if>
</select>

<!-- cus_info 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from cus_info 
	<include refid="Example_Where_Clause"/>
</select>

<!-- 新增子帐号信息 -->
<insert id="addChildrenAccount" parameterType="Map" >
  insert into bas_user(USER_ID,CUS_ID,LOGIN_NAME,LOGIN_PASSWORD,USER_TYPE,STATE,CREATE_ID,CREATE_DATE,UPDATE_ID,UPDATE_DATE,DEL_FLAG,CUS_EMP_NAME,CUS_EMP_TEL,CUS_EMP_MOBILE,CUS_EMP_MAIL,CUS_EMP_DEPART,CUS_EMP_POSITION)
 values(
 	#{userId},#{cusId},#{loginName,jdbcType=VARCHAR},#{loginPassword,jdbcType=VARCHAR},
	 #{userType,jdbcType=INTEGER},
	 #{state,jdbcType=INTEGER},
	 #{createId,jdbcType=VARCHAR},
	 #{createDate,jdbcType=VARCHAR},
	 #{updateId,jdbcType=VARCHAR},
	 #{updateDate,jdbcType=VARCHAR},
	 #{delFlag,jdbcType=VARCHAR},
	 #{name,jdbcType=VARCHAR},
	 #{officePhone,jdbcType=VARCHAR},
	 #{mobile,jdbcType=VARCHAR},
	 #{email,jdbcType=VARCHAR},
	 #{deport,jdbcType=VARCHAR},
	 #{position,jdbcType=VARCHAR}
	 )
</insert>

<!-- 修改子帐号信息-->
<update id="updateChildrenAccount" parameterType="Object" >
  update bas_user set LOGIN_NAME=#{loginName,jdbcType=VARCHAR},LOGIN_PASSWORD=#{loginPassword,jdbcType=VARCHAR},
  CUS_EMP_NAME=#{name,jdbcType=VARCHAR},CUS_EMP_TEL=#{officePhone,jdbcType=VARCHAR},
  CUS_EMP_MOBILE=#{mobile,jdbcType=VARCHAR},CUS_EMP_MAIL=#{email,jdbcType=VARCHAR},CUS_EMP_DEPART=#{deport,jdbcType=VARCHAR},
  CUS_EMP_POSITION=#{position,jdbcType=VARCHAR}
 	where user_id=#{userId} and cus_id=#{cusId}
</update>

<!-- 删除子帐号信息 -->
<delete id="delChildrenAccount" parameterType="Object">
	delete from bas_user where user_id = #{userId}
</delete>

<update id="updateState" parameterType="Object" >
	update bas_user set STATE=#{state} where user_id=#{userId}
</update>

<!-- 查询cus_info列表   客户  新注册客户-->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select
	<include refid="Base_Column_List"/>,bu.USER_TYPE,e.EMP_ID
	from cus_info c
		left join cus_grade_evalue cge on c.cus_id=cge.cus_id and cge.del_flag=0
		left join BAS_DIC d on d.DIC_CODE = cge.EVALUE_LEVEL
		left join BAS_DIC dd on dd.dic_code = cge.VALID_LEVEL
		left join bas_user bu on bu.cus_id=c.cus_id
		left join CUS_EMPLINK e on e.CUS_ID=c.CUS_ID and e.DEL_FLAG= 0 
	<include refid="Example_Where_Clause"/>
	<if test="orderByClause != null and orderByClause != ''" >
       order by  c.${orderByClause}
    </if>
    <if test="limitClause != null and limitClause != ''" >
       ${limitClause}
    </if>
    <if test="loginName != null and loginName != ''" >
       and bu.login_name = #{loginName}
    </if>
</select>
  	
<!-- 查询cus_info列表   客户  新注册客户-->
<select id="queryByCompanyForRegister" resultMap="BaseResultMap"  parameterType="Object">
	select
	<include refid="Base_Column_List2"/> 
	from cus_info c

	<include refid="Example_Where_Clause"/>
	 and  c.CUS_WORKSTATE = 3
	<if test="orderByClause != null and orderByClause != ''" >
       order by  c.${orderByClause}
    </if>
    <if test="limitClause != null and limitClause != ''" >
       ${limitClause}
    </if>
    <if test="loginName != null and loginName != ''" >
       and bu.login_name = #{loginName}
    </if>
</select>

<!-- 客户信息 -->
<select id="queryCusInfo" resultMap="BaseResultMap"  parameterType="Object">
	select (select DIC_NAME from bas_dic where DIC_ID=i.ORG_ATTRIBUTE)as ORG_ATTRIBUTE_NAME,
	u.COMMON_USER_ID,u.COMMON_USER_NAME,u.PHONE_NUMBER,
	i.*,e.EMP_ID,p.EMP_NAME,p.EMP_MOBILE,p.OFFICE_PHONE,p.EMP_EMAIL,p.ORG_ID,p.EMP_PHOTO,o.ORG_NAME,o.ORG_ADDRESS
	 from CUS_INFO i 
	 left join cus_user_link l on l.DEL_FLAG=0 and l.CUS_ID=i.CUS_ID
	 left join cus_common_user u on u.DEL_FLAG=0 and u.COMMON_USER_ID=l.CUS_COMMON_USER_ID 
 	<if test="userId != null and userId != ''" >
	    and u.USER_ID =  #{userId}
	</if>
	 left join CUS_EMPLINK e on e.CUS_ID=i.CUS_ID and e.DEL_FLAG= 0 
	 left join BAS_EMP p on p.EMP_ID=e.EMP_ID and p.DEL_FLAG = 0 
	 left join BAS_ORG o on o.ORG_ID=p.ORG_ID and o.DEL_FLAG= 0 
	 where i.DEL_FLAG='0' and u.COMMON_USER_NAME is not null
	 <if test="cusId != null and cusId != ''" >
	    and i.CUS_ID =  #{cusId}
	</if>
</select>  


<!-- 我的账号 -->
<select id="queryMyAccount" resultMap="BaseResultMap"  parameterType="Object">
	select i.*,e.emp_id,m.emp_name,
	(select b.dic_name from BAS_DIC b where b.parenet_id='4' and b.dic_code=i.cus_state)as cusStateName,
	(select b.dic_name from BAS_DIC b where b.parenet_id='1' and b.dic_code=i.cus_grade)as cusGradeName
	 from CUS_INFO i 
	 left join CUS_EMPLINK e on e.cus_id=i.cus_id and e.del_flag= 0
	 left join BAS_EMP m on m.emp_id=e.emp_id and m.del_flag= 0
	 where i.del_flag='0' 
	 <if test="cusId != null and cusId != ''" >
	    and i.CUS_ID =  #{cusId}
	</if>
</select>  

<!-- 当月购买情况 -->
<select id="queryMonthBuy" resultType="Map"  parameterType="Object">
select c.cus_id,c.cus_buy_state,c.create_date,
       (select sum(oil_number) from bil_ordersub where del_flag=0 and order_id in
               (select distinct(order_id) from bil_order_stat_his where state='2' and state_time  &gt;  to_Date(#{startDate},'yyyy-mm-dd'))
           and order_id in
               (select order_id from bil_order where del_flag=0 and cus_id=c.cus_id)   
        ) buy_num
      from cus_info c
 where c.del_flag=0 and c.cus_state=1
 </select>  

<!-- 一个月、三个月、六个月购买情况 -->
<select id="querySixMonthBuy" resultType="Map"  parameterType="Object">
	select c.cus_id,c.cus_buy_state,c.create_date,
       (select sum(oil_number) from bil_ordersub where del_flag=0 and order_id in
               (select distinct(order_id) from bil_order_stat_his where state='2' 
                       and state_time  &gt;  to_Date(#{startDate},'yyyy-mm-dd') and state_time &lt; to_date(#{endDate},'yyyy-mm-dd'))
           and order_id in
               (select order_id from bil_order where del_flag=0 and cus_id=c.cus_id)   
        ) month_buy_num,
        (select sum(oil_number) from bil_ordersub where del_flag=0 and order_id in
               (select distinct(order_id) from bil_order_stat_his where state='2' 
                       and state_time  &gt;  to_Date(#{startDate1},'yyyy-mm-dd') and state_time &lt; to_date(#{endDate},'yyyy-mm-dd'))
           and order_id in
               (select order_id from bil_order where del_flag=0 and cus_id=c.cus_id)   
        ) three_buy_num,
        (select sum(oil_number) from bil_ordersub where del_flag=0 and order_id in
               (select distinct(order_id) from bil_order_stat_his where state='2' 
                       and state_time  &gt;  to_Date(#{startDate2},'yyyy-mm-dd') and state_time &lt; to_date(#{endDate},'yyyy-mm-dd'))
           and order_id in
               (select order_id from bil_order where del_flag=0 and cus_id=c.cus_id)   
        ) six_buy_num,
        (select sum(oil_number) from bil_ordersub where del_flag=0 and order_id in
               (select distinct(order_id) from bil_order_stat_his where state='2' 
                       and state_time &lt; to_date(#{endDate},'yyyy-mm-dd'))
           and order_id in
               (select order_id from bil_order where del_flag=0 and cus_id=c.cus_id)   
        ) buy_num
      from cus_info c
 where c.del_flag=0 and c.cus_state=1
 </select>  
 

 
 <!-- 查询cus_info列表 -->
<select id="queryMenoreyByCusList" resultMap="BaseResultMap"  parameterType="Object">
	select * from CUS_INFO c where c.del_flag=0 
	<if test="empId != null and empId != ''" >
	    and c.cus_id in
		(select e.cus_id from CUS_EMPLINK e where e.del_flag=0 and e.emp_id= #{empId})
	</if>
	<if test="cusCompany != null and cusCompany != ''" >
	    and c.cus_company = #{cusCompany}
	</if>

</select>
 

 <!-- 一个月、二个月、三个月、京标购买情况 -->
<select id="queryGradeBuy" resultType="Map"  parameterType="Object">
 select c.cus_id,c.cus_type,c.cus_oil_place,
       (select custype_id from bas_custypesub where del_flag=0 and custypesub_code = c.cus_type) cus_type_id,
c.create_date,
       (select sum(oil_number) from bil_ordersub where del_flag=0 and order_id in
               (select distinct(order_id) from bil_order_stat_his where state='2' 
                       and state_time  &gt;  to_Date(#{startDate1},'yyyy-mm-dd') and state_time &lt; to_date(#{startDate2},'yyyy-mm-dd'))
           and order_id in
               (select order_id from bil_order where del_flag=0 and cus_id=c.cus_id)   
        ) f_buy_num,
        (select sum(oil_number) from bil_ordersub where del_flag=0 and order_id in
               (select distinct(order_id) from bil_order_stat_his where state='2' 
                       and state_time  &gt;  to_Date(#{startDate2},'yyyy-mm-dd') and state_time &lt; to_date(#{startDate3},'yyyy-mm-dd'))
           and order_id in
               (select order_id from bil_order where del_flag=0 and cus_id=c.cus_id)   
        ) s_buy_num,
        (select sum(oil_number) from bil_ordersub where del_flag=0 and order_id in
               (select distinct(order_id) from bil_order_stat_his where state='2' 
                       and state_time  &gt;  to_Date(#{startDate3},'yyyy-mm-dd') and state_time &lt; to_date(#{endDate},'yyyy-mm-dd'))
           and order_id in
               (select order_id from bil_order where del_flag=0 and cus_id=c.cus_id)   
        ) t_buy_num,
        (select sum(oil_number) from bil_ordersub where del_flag=0 and order_id in
               (select distinct(order_id) from bil_order_stat_his where state='2' 
                       and state_time  &gt;  to_Date(#{startDate1},'yyyy-mm-dd') and state_time &lt; to_date(#{endDate},'yyyy-mm-dd'))
           and order_id in
               (select order_id from bil_ordersub where del_flag=0 and oilInfo_name like '%京%' and order_id in
                       (select order_id from bil_order where del_flag=0 and cus_id=c.cus_id)
                )  
        ) jing_buy_num
      from cus_info c
 where c.del_flag=0
  <if test="cusId != null and cusId != ''" >
	    and c.CUS_ID =  #{cusId}
	</if>
 
 </select>
 
 
 
 
 <select id="queryBaseStandard" resultType="Map"  parameterType="Object">
 	select * from cus_grade_base_standard where del_flag=0
 </select>
  <select id="queryJingStandard" resultType="Map"  parameterType="Object">
 	select * from cus_grade_jing_standard where del_flag=0
 </select>
  <select id="queryMonthStandard" resultType="Map"  parameterType="Object">
 	select * from cus_grade_month_standard where del_flag=0
 </select>
 
 
 
<!-- 查询客户分组列表 -->
<select id="queryGroupListByEmpId" resultMap="BaseResultMap"  parameterType="Object">
	select e.link_id,e.emp_id,e.cus_id,
	c.cus_code,c.cus_company,
	c.cus_type,
	(select b.custypesub_name from bas_custypesub b where b.custypesub_code=c.cus_type)as custype_name,
	c.cus_province,
	c.cus_grade,
	(select b.dic_name from BAS_DIC b where b.dic_code=c.cus_grade and b.parenet_id='1')as cus_grade_name,
	c.cus_state,
	(select b.dic_name from BAS_DIC b where b.parenet_id='4' and b.dic_code=c.cus_state)as cus_state_name
	from CUS_INFO c 
	left join  CUS_EMPLINK e  on c.del_flag=0 and c.cus_id=e.cus_id
	where e.del_flag=0
	 <if test="empId != null and empId != ''" >
	    and e.emp_id = #{empId}
	</if>
	<if test="cusCompany != null and cusCompany != ''" >
	   and c.cus_company like  '%' || #{cusCompany} || '%'
	</if>
	<if test="cusTypeName != null and cusTypeName != ''" >
	   and c.cus_type= #{cusTypeName} 
	</if>
	<if test="cusGradeName != null and cusGradeName != ''" >
	   and c.cus_grade= #{cusGradeName} 
	</if>
	<if test="cusStateName != null and cusStateName != ''" >
	   and c.cus_state= #{cusStateName} 
	</if>
</select>


<!-- 查询分组列表 -->
<select id="queryGroupList" resultMap="BaseResultMap"  parameterType="Object">
	select g.link_id,e.emp_id,e.cus_id,
	p.group_id,p.group_name,
	c.cus_code,c.cus_company,
	c.cus_type,
	(select b.custypesub_name from bas_custypesub b where b.custypesub_code=c.cus_type)as custype_name,
	c.cus_province,
	c.cus_grade,
	(select b.dic_name from BAS_DIC b where b.dic_code=c.cus_grade and b.parenet_id='1')as cus_grade_name,
	c.cus_state,
	(select b.dic_name from BAS_DIC b where b.parenet_id='4' and b.dic_code=c.cus_state)as cus_state_name
	from CUS_INFO c
	left join CUS_EMPLINK e  on c.del_flag=0 and c.cus_id=e.cus_id
	left join CUS_GROUP_LINK g on g.del_flag=0 and g.cus_id=c.cus_id
	left join CUS_GROUP p on p.del_flag=0 and p.group_id=g.group_id
	where e.del_flag=0
	 <if test="empId != null and empId != ''" >
	    and e.emp_id = #{empId}
	</if>
	<if test="cusCompany != null and cusCompany != ''" >
	   and c.cus_company like  '%' || #{cusCompany} || '%'
	</if>
	<if test="cusTypeName != null and cusTypeName != ''" >
	   and c.cus_type= #{cusTypeName} 
	</if>
	<if test="cusGradeName != null and cusGradeName != ''" >
	   and c.cus_grade= #{cusGradeName} 
	</if>
	<if test="cusStateName != null and cusStateName != ''" >
	   and c.cus_state= #{cusStateName} 
	</if>
	order by p.group_id,c.cus_id
</select>

<select id="queryOilBuy" resultType="Map"  parameterType="Object">
	select sum(oil_num) oil_num,TO_CHAR(T.state_time,'YYYY-MM') TIME
        from 
    (
   select o.order_id,o.cus_id,
          sub.*,his.state_time from 
        bil_order o
        left join
   (
   select order_id,sum(OIL_NUMBER) oil_num from BIL_ORDERSUB
          where del_flag=0
                group by order_id
    ) sub on o.order_id = sub.order_id
   left join bil_order_stat_his his
        on his.order_id = o.order_id and his.state='2' and his.del_flag=0
 ) t
   where t.cus_id=#{cusId}
         and t.state_time &gt;= to_Date(#{startDate},'yyyy-mm-dd') and t.state_time &lt; to_Date(#{endDate},'yyyy-mm-dd')
 GROUP BY TO_CHAR(T.state_time,'YYYY-MM')  
 ORDER BY TO_CHAR(T.state_time,'YYYY-MM') ASC NULLS  LAST  

</select>


<!-- 根据id查询 bas_emp -->
<select id="queryByEmpId"  resultMap="BaseResultMap" parameterType="Object">
	select c.cus_id,c.cus_company from CUS_INFO c where c.del_flag=0
	<if test="empId != null and empId != ''" >
		and c.cus_id in
		(select e.cus_id from CUS_EMPLINK e where e.del_flag=0 and e.emp_id=#{empId})
	</if>
</select>

<!--gl 20160413 按照code汇总  -->
<select id="queryOilRemainder" resultType="Map"  parameterType="Object">
	select 
	max(a.oil_id),max(a.oilinfo_name)oil_name,
	max(a.oilinfo_name_short)oil_name_short,
	sum(a.oil_number) oil_num,
	sum(a.complete_num) comp_num
	from(select * from view_cus_buy where cus_id=#{cusId} and state=2)a
	group by a.oilinfo_code
</select>


<!-- 根据用户id查询关联的客户信息 -->
<select id="queryUserList"  resultMap="BaseResultMap" parameterType="Object">
	select * from CUS_INFO c where c.del_flag=0
	and c.cus_id in(select b.cus_id from bas_user b where b.del_flag=0 and (b.link_user=#{userId} or b.user_id=#{userId}))
</select>

<select id="queryUserList2"  resultMap="BaseResultMap" parameterType="Object">
	select * from CUS_INFO c where c.del_flag=0
	and c.cus_id in(select cl.cus_id from cus_user_link cl left join cus_common_user cu on cl.cus_common_user_id = cu.common_user_id 
	 where cu.user_id=#{userId}) 
	 <if test="cusCompany != null and cusCompany != ''" >
	   and c.cus_company like '%${cusCompany}%'
	</if>
</select>

<!-- 查询cus_info列表   客户  新注册客户-->
<select id="queryListByCusId" resultMap="BaseResultMap"  parameterType="Object">
	select c.* from cus_info c where c.CUS_ID=#{cusId}
</select>
<select id="queryForSzhyCode"  resultMap="BaseResultMap" parameterType="Object">
	select * from CUS_INFO where  szhy_code=#{szhyCode} and  del_flag=0
</select>
<!-- 登录时应用于普通人员查询-->
<select id="queryForCusCommon"  resultMap="BaseResultMap" parameterType="Object">
	select * from CUS_INFO c1 left join cus_common_user c2 on 
	c1.cus_id = c2.cus_id where  c2.user_id=#{userId} and  c2.del_flag=0
</select>
<!-- 根据id查询 cus_org -->
<select id="queryCusOrg"  resultMap="BaseResultMap" parameterType="Map">
	select CUS_ORG 
	 from cus_info where CUS_ID = #{cusId}
</select>

<select id="queryListByPhone" resultMap="BaseResultMap"  parameterType="Object">
	select c.* from cus_info c where c.CUS_MOBILE=#{phone}
</select>
</mapper>   
