<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body ng-app="myApp" ng-controller="demoCtrl">

  <!--
		
		{{ 数据 | 过滤器的名字:参数1:参数2 }}

	-->

  <!--
		filter过滤器

		1.模糊匹配 filter:'过滤条件'

			angular在循环数据的过程中 会去数据中的每一个字段中查找  查找包含 过滤条件的 数据 找到留下 没找到 pass掉

		2.精确匹配 filter:{ name : '过滤条件' }

			angular循环数据的过程中 会去某一个具体的字段中去查找 查找包含 过滤条件的 数据 找到留下 没找到 pass掉
			
	-->

  <!-- <ul>
		<li ng-repeat="item in persons | filter:'空' "> {{ item.id }} {{ item.name }} </li>
	</ul> -->

  <input type="text" ng-model="filter_text">

  <ul>
    <li ng-repeat="item in persons | filter:{ name : filter_text } "> {{ item.id }} {{ item.name }} </li>
  </ul>
  <script src="../../bulid/angular/angular.js"></script>
  <script>
    angular.module('myApp', [])
      .controller('demoCtrl', ['$scope', function ($scope) {

        $scope.filter_text = '';

        $scope.persons = [
          {
            id: 1,
            name: '唐僧'
          },
          {
            id: 2,
            name: '孙悟空'
          },
          {
            id: 3,
            name: '猪八戒'
          },
          {
            id: 4,
            name: '沙僧'
          }
        ]

      }])
  </script>
</body>

</html>