<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>集团公司综合管理体系信息平台</title>
<!-- 通用样式 -->
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/sec.css" rel="stylesheet" type="text/css" />

<!-- jquery引入 -->
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
</head>

<body class="bg">
<!--内容主体start-->
<div class="sec-page content-wrapper main-width clearfix">
	<!--搜索结果start-->
	<div class="temp-wrapper">
		<div class="temp-wrapper-header clearfix">
			<h3 class="left">审批历史</h3>
			<a class="right margin-t" href="#"><i class="i-normal i-close"></i></a>
		</div>
		<form class="" action="">
			<div class="temp-content-wrapper ">
				<table class="comm-table margin-t-l" width="100%">
					<thead>
						<tr>
							<th>序号</th>
							<th>审批/审核结果</th>
							<th>审批/审核意见</th>
							<th>提交/审批/审核时间</th>
							<th>提交/审批人</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>发起申请</td>
							<td></td>
							<td>2018-09-10 10:00:09</td>
							<td>文件管理</td>
						</tr>
						<tr>
							<td>2</td>
							<td>发起申请</td>
							<td></td>
							<td>2018-09-10 11:00:09</td>
							<td>张三</td>
						</tr>
					</tbody>
				</table>
				
				<div class="page-wrapper margin-t clearfix">
					<div class="left">
						<a class="left margin-t-ss" href="#"><i class="i-small i-page1"></i></a>
						<a class="left margin-t-ss margin-l-s" href="#"><i class="i-small i-page2"></i></a>
						<span class="left margin-l-s margin-r">
						第<input type="text" class="input-small margin-l-s margin-r-ss" value="1">页，共9页
						</span>
						<a class="left margin-t-ss margin-l-s" href="#"><i class="i-small i-page3"></i></a>
						<a class="left margin-t-ss margin-l-s" href="#"><i class="i-small i-page4"></i></a>
						<a class="left margin-t-ss margin-l-s" href="#"><i class="i-small i-refresh"></i></a>
					</div>
					<span class="right margin-t-ss">显示1到10，共81条记录</span>	
				</div>
			</div>
		</form>
	</div>
	<!--搜索结果end-->
</div>
<!--内容主体end-->

</body>
</html>
