<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>集团公司综合管理体系信息平台</title>
<!-- 通用样式 -->
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/sec.css" rel="stylesheet" type="text/css" />

<!--树形下拉单样式-->
<link rel="stylesheet" href="comboTree/style.css">

<!-- jquery引入 -->
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>

<!--日期控件JS-->
<script type="text/javascript" src="jeDate/jedate.js"></script>

<!--树形下拉单JS-->
<script src="comboTree/icontains.js"  type="text/javascript"></script>
<script src="comboTree/comboTreePlugin.js"  type="text/javascript"></script>

</head>
<body>
<!--内容主体start-->
<div class="pop-window sec-page content-wrapper clearfix">
	<!--搜索结果start-->
	<div class="temp-wrapper">
		<div class="temp-content-wrapper ">
			<form class="" action="">
				<div class="temp-content">
					<section class="m-lineheight2">
						<h3 class="section-title margin-b-l">基本信息</h3>
						<div class="f-box">
							<div class="f-box">
								<label class="inline-block s-width t-right">发布单位</label>
								<input type="text" id="justAnInputBox" placeholder="Select" style="width: 187px;"/>
								<span class="margin-l-s required">*</span>
							</div>
							<div class="f-box">
								<label class="inline-block s-width t-right">发布时间</label>
								<input class="input-large input-w margin-l-s i-date" id="dateinfo1" type="text" name="" value="" readonly>
								<span class="margin-l-s required">*</span>
							</div>
						</div>
						<div class="f-box">
							<div class="f-box">
								<label class="inline-block s-width t-right">手册名称</label>
								<input class="input-large input-w margin-l-s" type="text" name="" value="">
								<span class="margin-l-s required">*</span>
							</div>
							<div class="f-box">
								<label class="inline-block s-width t-right">手册字号</label>
								<input class="input-large input-w margin-l-s" type="text" name="" value="">
								<span class="margin-l-s required">*</span>
							</div>
						</div>
						<div class="f-box">
							<div class="f-box">
								<label class="inline-block s-width t-right">归口部门</label>
								<input type="text" id="justAnotherInputBox" placeholder="Type to filter"  style="width: 187px;"/>
								<span class="margin-l-s required">*</span>
							</div>
							<div class="f-box margin-r">
								<label class="inline-block s-width t-right">参与部门</label>
								<select class="input-large select-w margin-l-s">
									<option value="">办公室</option>
									<option value="">企管法规处</option>
									<option value="">规划计划处</option>
									<option value="">科技信息处</option>
								</select>
							</div>
						</div>
						<div class="f-box">
							<div class="f-box">
								<label class="inline-block s-width t-right">编制人</label>
								<select class="input-large select-w margin-l-s">
									<option value="">办公室</option>
									<option value="">企管法规处</option>
									<option value="">规划计划处</option>
									<option value="">科技信息处</option>
								</select>
								<span class="margin-l-s required">*</span>
							</div>
							<div class="f-box margin-r">
								<label class=" inline-block s-width t-right">参与单位</label>
								<select class="input-large select-w margin-l-s">
									<option value="">办公室</option>
									<option value="">企管法规处</option>
									<option value="">规划计划处</option>
									<option value="">科技信息处</option>
								</select>
							</div>
						</div>
						<div class="f-box">
							<div class="f-box">
								<label class="inline-block s-width t-right margin-r">是否公开:</label>
								<input class="radio-type" type="radio" name="open" value="" checked>是
								<input class="radio-type margin-l" type="radio" name="open" value="">否
							</div>
							<div class="f-box">
								<label class="inline-block s-width t-right margin-r">文件归属:</label>
								<input class="radio-type" type="radio" name="belongto" value="" checked>集团公司
								<input class="radio-type margin-l" type="radio" name="belongto" value="">股份公司
							</div>
						</div>
					</section>
					<section class="m-lineheight2">
						<h3 class="section-title margin-b-l">文件上传</h3>
						<div>
							<label class="inline-block s-width t-right">正文上传</label>
							<a class="btn btn-large btn-blue margin-l" href="#"><i class="i-small inline-block margin-t-s margin-r-ss i-upload left"></i>点击上传</a>
						</div>
						<div>
							<label class="inline-block s-width t-right">附件上传</label>
							<a class="btn btn-large btn-yellow margin-l" href="#">添加</a>
						</div>
						<div>
							<table class="comm-table margin-t margin-l-ll" width="80%">
								<thead>
									<tr>
										<th>序号</th>
										<th>文件名称</th>
										<th>文件编号</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td rowspan="2"><a href="#" class="margin-l-s inline-block"><i class="i-normal i-close2"></i></a></td>
										<td><input class="input-large" type="text" name="" value=""></td>
										<td><input class="input-large" type="text" name="" value=""></td>
									</tr>
									<tr>
										<td colspan="2" style="text-align:left"><a class="btn btn-large btn-blue margin-l" href="#"><i class="i-small inline-block margin-t-s margin-r-ss i-upload left"></i>点击上传</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</section>
					<div class="c-box padding-t margin-t-l margin-b-l">
						<input class="btn btn-large btn-primary margin-r" type="submit" value="保存">
						<input class="btn btn-large btn-info margin-l" type="button" value="取消">
					</div>	
				</div>
			</form>
		</div>
	</div>
	<!--搜索结果end-->
</div>
<!--内容主体end-->
<script>
jeDate({
		dateCell:"#dateinfo1",
		format:"YYYY-MM-DD",
		isinitVal:true,
		isTime:false, //isClear:false,
		minDate:"2014-09-19"	
	})
	
//下拉树形菜单	
var SampleJSONData = [
    {
        id: 0,
        title: 'choice 1  '
    }, {
        id: 1,
        title: 'choice 2',
        subs: [
            {
                id: 10,
                title: 'choice 2 1'
            }, {
                id: 11,
                title: 'choice 2 2'
            }, {
                id: 12,
                title: 'choice 2 3'
            }
        ]
    }, {
        id: 2,
        title: 'choice 3'
    }, {
        id: 3,
        title: 'choice 4'
    }, {
        id: 4,
        title: 'choice 5'
    }, {
        id: 5,
        title: 'choice 6',
        subs: [
            {
                id: 50,
                title: 'choice 6 1'
            }, {
                id: 51,
                title: 'choice 6 2',
                subs: [
                    {
                        id: 510,
                        title: 'choice 6 2 1'
                    }, {
                        id: 511,
                        title: 'choice 6 2 2'
                    }, {
                        id: 512,
                        title: 'choice 6 2 3'
                    }
                ]
            }
        ]
    }, {
        id: 6,
        title: 'choice 7'
    }
];
var comboTree1, comboTree2;

jQuery(document).ready(function($) {

		comboTree1 = $('#justAnInputBox').comboTree({
			source : SampleJSONData,
			isMultiple: true
		});

		comboTree2 = $('#justAnotherInputBox').comboTree({
			source : SampleJSONData,
			isMultiple: false
		});
});
</script>
</body>
</html>
