<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Title</title>
</head>
<script src="../build/vue.min.js"></script>

<body>
  <div id="app">
    <ul>
      <li v-for="item in array">{{item}}</li>
      <li v-for="(value,key) in user">{{key}}-----{{value}}</li>


      <li v-for="(item,index) in array">{{item}}---{{index}}</li>
      <li v-for="(value,key,index) in user">{{key}}-----{{value}}==={{index}}</li>
    </ul>
  </div>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        array: ['狼厂', '鹅厂', '鸟厂', '数字工厂', '度娘'],
        user: { name: 'mei', age: '18', sex: '男' }
      }
    })
  </script>
</body>

</html>