<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>集团公司综合管理体系信息平台</title>
	<!-- 通用样式 -->
	<link href="css/style.css" rel="stylesheet" type="text/css" />
	<link href="css/common.css" rel="stylesheet" type="text/css" />
	<link href="css/sec.css" rel="stylesheet" type="text/css" />
	<link href="css/dialog.css" rel="stylesheet" type="text/css" />
	<!--树形下拉单样式-->
	<link rel="stylesheet" href="comboTree/style.css">

	<!-- jquery引入 -->
	<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>

	<!--弹出框控件JS-->
	<script type="text/javascript" src="js/dialog.js"></script>
	<!--日期控件JS-->
	<script type="text/javascript" src="jeDate/jedate.js"></script>

	<!--树形下拉单JS-->
	<script src="comboTree/icontains.js" type="text/javascript"></script>
	<script src="comboTree/comboTreePlugin.js" type="text/javascript"></script>
</head>

<body>
	<!--内容主体start-->
	<div class="pop-window sec-page content-wrapper clearfix">
		<!--搜索结果start-->
		<div class="temp-wrapper">
			<div class="temp-content-wrapper ">
				<form class="" action="">
					<div class="temp-content">
						<section>
							<h3 class="section-title padding-b margin-b-l">基本信息</h3>
							<table class="table-ie center">
								<tr>
									<td class="s-width t-right">发布单位</td>
									<td>
										<input class="left" type="text" id="justAnInputBox" placeholder="Select" style="width: 187px;" />
										<span class="left margin-l-s required">*</span>
									</td>
									<td class="s-width t-right">发布时间</td>
									<td> 
										<input class="left input-large input-w margin-l-s i-date" id="dateinfo1" type="text" name=""
										 value="" readonly>
										<span class="left margin-l-s required star">*</span>
									</td>
								</tr>
								<tr>
									<td class="s-width t-right">
										文件名称
									</td>
									<td class="clearfix">
										<input class="left input-large input-w margin-l-s" type="text" name="" value="">
										<span class="left margin-l-s required star">*</span>
									</td>
									<td class="s-width t-right">
										文件字号
									</td>
									<td class="clearfix">
										<input class="left input-large input-w margin-l-s" type="text" name="" value="">
										<span class="left margin-l-s required star">*</span>
									</td>
								</tr>
								<tr>
									<td class="s-width t-right">
										归口部门
									</td>
									<td>
										<input type="text" id="justAnotherInputBox" placeholder="Type to filter" style="width: 187px;" />
										<!-- <span class="margin-l-s required star">*</span> -->
									</td>
									<td class="s-width t-right">
										参与部门
									</td>
									<td>
										<select class="input-large select-w margin-l-s">
											<option value="">办公室</option>
											<option value="">企管法规处</option>
											<option value="">规划计划处</option>
											<option value="">科技信息处</option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="s-width t-right">
										编制人
									</td>
									<td>

										<select class="left input-large select-w margin-l-s">
											<option value="">办公室</option>
											<option value="">企管法规处</option>
											<option value="">规划计划处</option>
											<option value="">科技信息处</option>
										</select>
										<span class="left margin-l-s required star">*</span>
									</td>
									<td class="s-width t-right">
										制度类别
									</td>
									<td>

										<select class="input-large select-w margin-l-s">
											<option value="">办公室</option>
											<option value="">企管法规处</option>
											<option value="">规划计划处</option>
											<option value="">科技信息处</option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="s-width t-right">
										业务能力
									</td>
									<td>
										<select class="left input-large select-w margin-l-s">
											<option value="">办公室</option>
											<option value="">企管法规处</option>
											<option value="">规划计划处</option>
											<option value="">科技信息处</option>
										</select>
										<span class="left margin-l-s required star">*</span>
									</td>
									<td class="s-width t-right">
										效力等级
									</td>
									<td>
										<select class="input-large select-w margin-l-s">
											<option value="">总部规章</option>
											<option value="">企管法规处</option>
											<option value="">规划计划处</option>
											<option value="">科技信息处</option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="s-width t-right">
										效力等级
									</td>
									<td>
										<select class="input-large select-w margin-l-s">
											<option value="">总部规章</option>
											<option value="">企管法规处</option>
											<option value="">规划计划处</option>
											<option value="">科技信息处</option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="s-width t-right">
										是否公开:
									</td>
									<td>
										<span class="margin-t-ie margin-l left"><input class="radio-type" type="radio" name="open" value="" checked>是</span>
										<span class="margin-t-ie left"><input class="radio-type margin-l" type="radio" name="open" value="">否</span>
									</td>
									<td class="s-width t-right">
										文件归属:
									</td>
									<td>
										<span class="margin-t-ie margin-l left"><input class="radio-type" type="radio" name="belongto" value="" checked>集团公司</span>
										<span class="margin-t-ie left"><input class="radio-type margin-l" type="radio" name="belongto" value="">股份公司</span>
									</td>
								</tr>
							</table>
						</section>
						
						<div class="gap2"></div>
						
						<section class="m-lineheight2">
							<h3 class="section-title margin-b-l">文件上传</h3>
							<div>
								<label class="inline-block s-width t-right">正文上传</label>
								<a class="btn btn-large btn-blue margin-l" href="#"><i class="i-small inline-block margin-t-s margin-r-ss i-upload left"></i>点击上传</a>
							</div>
							<div>
								<label class="inline-block s-width t-right">附件上传</label>
								<a class="btn btn-large btn-yellow margin-l" href="#">添加</a>
							</div>
							<div>
								<table class="comm-table margin-t margin-l-ll" width="80%">
									<thead>
										<tr>
											<th>序号</th>
											<th>文件名称</th>
											<th>文件编号</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td rowspan="2"><a href="#" class="margin-l-s inline-block"><i class="i-normal i-close2"></i></a></td>
											<td><input class="input-large" type="text" name="" value=""></td>
											<td><input class="input-large" type="text" name="" value=""></td>
										</tr>
										<tr>
											<td colspan="2" style="text-align:left"><a class="btn btn-large btn-blue margin-l" href="#"><i class="i-small inline-block margin-t-s margin-r-ss i-upload left"></i>点击上传</a></td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="margin-t">
								<label class="inline-block s-width t-right">记录表单上传</label>
								<a class="btn btn-large btn-yellow margin-l" href="#">添加</a>
							</div>
							<div>
								<table class="comm-table margin-t margin-l-ll" width="80%">
									<thead>
										<tr>
											<th>序号</th>
											<th>文件名称</th>
											<th>文件编号</th>
											<th>机构</th>
											<th>专业</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td rowspan="2"><a href="#" class="margin-l-s inline-block"><i class="i-normal i-close2"></i></a></td>
											<td><input class="input-normal" type="text" name="" value=""></td>
											<td><input class="input-normal" type="text" name="" value=""></td>
											<td><input class="input-normal" type="text" name="" value=""></td>
											<td><input class="input-normal" type="text" name="" value=""></td>
										</tr>
										<tr>
											<td colspan="4" style="text-align:left"><a class="btn btn-large btn-blue margin-l" href="#"><i class="i-small inline-block margin-t-s margin-r-ss i-upload left"></i>点击上传</a></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="margin-t">
								<label class="inline-block s-width t-right">记录表单上传</label>
								<a class="btn btn-large btn-yellow margin-l" href="#">添加</a>
							</div>
							<div class="margin-t">
								<label class="inline-block s-width t-right">本单位流程图</label>
								<input class="input-large margin-l" type="text" name="" value="" placeholder="请选择" style="width: 380px;">
							</div>
						</section>

						<div class="gap2"></div>
						<section>
							<h3 class="section-title padding-b margin-b-l">建立关联</h3>
							<table class="table-ie center">
								<tr>
									<td class="m-width t-right">本单位管理制度</td>
									<td>
										<input id="btnDialog1" class="left input-large margin-l-s" type="text" name="" value="" placeholder="请选择" style="width:180px;">
										<span class="left margin-l-s required star">*</span>
									</td>
									<td class="m-width t-right">
										本单位操作规范
									</td>
									<td>
										<select class="left input-large select-w margin-l-s">
											<option value="">总部规章</option>
											<option value="">企管法规处</option>
											<option value="">规划计划处</option>
											<option value="">科技信息处</option>
										</select>
										<span class="left margin-l-s required star">*</span>
									</td>
								</tr>
								<tr>
									<td class="m-width t-right">本单位风险控制流程图</td>
									<td>
										<select class="left input-large select-w margin-l-s">
											<option value="">总部规章</option>
											<option value="">企管法规处</option>
											<option value="">规划计划处</option>
											<option value="">科技信息处</option>
										</select>
										<span class="left margin-l-s required star">*</span>
									</td>
									<td class="m-width t-right">本单位风险控制文档</td>
									<td>
										<select class="left input-large select-w margin-l-s">
											<option value="">总部规章</option>
											<option value="">企管法规处</option>
											<option value="">规划计划处</option>
											<option value="">科技信息处</option>
										</select>
										<span class="left margin-l-s required star">*</span>
									</td>
								</tr>
								<tr>
									<td class="m-width t-right">上级管理制度</td>
									<td colspan="3">
										<input class="input-large margin-l-s" type="text" name="" value="" placeholder="请选择" style="width: 380px;">
									</td>
								</tr>
								<tr>
									<td></td>
									<td colspan="3">
										<textarea class="ta-large margin-l-s" rows="4" cols="80"></textarea>
									</td>
								</tr>
								<tr>
									<td class="m-width t-right">国家规定</td>
									<td colspan="3">
										<a class="btn btn-large btn-blue margin-l-s" href="#"><i class="i-small inline-block margin-t-s margin-r-ss i-upload left"></i>点击上传</a>
									</td>
								</tr>
								<tr>
									<td></td>
									<td colspan="3">
										<textarea class="ta-large margin-l-s" rows="4" cols="80"></textarea>
									</td>
								</tr>
							</table>
						</section>

						<div class="center select-w padding-t margin-t-l margin-b-l">
							<input class="btn btn-large btn-primary margin-r" type="submit" value="保存">
							<input class="btn btn-large btn-info margin-l" type="button" value="取消">
						</div>
					</div>
				</form>
			</div>
		</div>
		<!--搜索结果end-->
	</div>
	<!--内容主体end-->
	<script>
		jeDate({
			dateCell: "#dateinfo1",
			format: "YYYY-MM-DD",
			isinitVal: true,
			isTime: false, //isClear:false,
			minDate: "2014-09-19"
		})

		//下拉树形菜单	
		var SampleJSONData = [{
			id: 0,
			title: 'choice 1  '
		}, {
			id: 1,
			title: 'choice 2',
			subs: [{
				id: 10,
				title: 'choice 2 1'
			}, {
				id: 11,
				title: 'choice 2 2'
			}, {
				id: 12,
				title: 'choice 2 3'
			}]
		}, {
			id: 2,
			title: 'choice 3'
		}, {
			id: 3,
			title: 'choice 4'
		}, {
			id: 4,
			title: 'choice 5'
		}, {
			id: 5,
			title: 'choice 6',
			subs: [{
				id: 50,
				title: 'choice 6 1'
			}, {
				id: 51,
				title: 'choice 6 2',
				subs: [{
					id: 510,
					title: 'choice 6 2 1'
				}, {
					id: 511,
					title: 'choice 6 2 2'
				}, {
					id: 512,
					title: 'choice 6 2 3'
				}]
			}]
		}, {
			id: 6,
			title: 'choice 7'
		}];
		var comboTree1, comboTree2;

		jQuery(document).ready(function ($) {

			comboTree1 = $('#justAnInputBox').comboTree({
				source: SampleJSONData,
				isMultiple: true
			});

			comboTree2 = $('#justAnotherInputBox').comboTree({
				source: SampleJSONData,
				isMultiple: false
			});

			$("#btnDialog1").click(function () {
				$.DialogNew.Dialog({
					Width: 560,
					Height: 540,
					Title: "本单位管理制度",
					URL: 'manage_system_list.html'
				});
			})
		});
	</script>
</body>

</html>