<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>集团公司综合管理体系信息平台</title>
<!-- 通用样式 -->
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<!-- 动态菜单CSS -->
<link href="css/menu.css" rel="stylesheet" type="text/css">
<link href="css/sec_menu.css" rel="stylesheet" type="text/css">
<link href="css/sec.css" rel="stylesheet" type="text/css">
<!-- jquery引入 -->
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<!-- 动态菜单JS -->
<script type="text/javascript" src="js/menu.js"></script>

</head>

<body>
<div class="wrapper">
	<!--内容主体start-->
	<div class="content-wrapper main clearfix">
		<div class="left-menu-wrapper left">
			<!--二级左侧菜单-->
			<div class="left-menu sec-left-menu">
				<div class="top-menu f-box-s">
					<p class="menu-title">体系手册</p>
				</div>
				<form class="" action="">
					<div class="menu-search-wrapper clearfix">
						<input class="input-m no-border left" type="text" placeholder="在当前文件查找">
						<a href="#" class="right margin-t-ss margin-r-ss"><i class="i-small i-search2"></i></a>
					</div>
				</form>
				<div class="menu-list">
					<ul class="sec-menu3">
						<li class="sub-title"><a href="#">发布令</a></li>
						<li class="sub-title"><a href="#">管理者代表任命书</a></li>
						<li class="sub-title"><a href="#">领导及其承诺</a></li>
						<li class="sub-title"><a href="#">公司简介</a></li>
						<li class="sub-title"><a href="#">1 基础管理体系概述</a></li>
						<li class="sub-title"><a href="#">2 方针目标</a></li>
						<li class="sub-title"><a href="#">3 企业文化</a></li>
						<li class="sub-title"><a href="#">4 组织、职责及权限</a></li>
						<li class="sub-title"><a href="#">5 信息沟通</a></li>
						<li class="sub-title"><a href="#">6 战略规划与计划</a></li>
						<li class="sub-title"><a href="#">7 运行控制（核心业务）</a></li>
						<li class="sub-title"><a href="#">8 资源（职能支持）</a></li>
						<li class="sub-title"><a href="#">9 党的工作（思想保障）</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="left clearfix">
		<!--搜索结果start-->
		<div class="temp-wrapper article-content-wrapper file-content left" id="searchResult">
			<div class="temp-wrapper-header clearfix">
				<h3 class="left">文件内容</h3>
				<div class="right clearfix">
					<a href="#" class="left clearfix margin-r-l link-w"><i class="i-small i-favorite margin-t-s left"></i><span class="left">文件收藏</span></a>
					<a href="#" class="left clearfix margin-r-l link-w"><i class="i-small i-download margin-t-s left"></i><span class="left">下载</span></a>
					<a href="#" class="left clearfix margin-r link-w"><i class="i-small i-print margin-t-s left"></i><span class="left">在线打印</span></a>
				</div>
			</div>
			<div class="temp-content-wrapper">
				<!--以下为文件测试内容-->
				<div class="article-content">
					<h4 class="l-h-ie">简介编辑</h4>
					<p class="l-h-ie">在计算机中，文件系统（file system）是命名文件及放置文件的逻辑存储和恢复的系统。DOS、Windows、OS/2、Macintosh和UNIX-based操作系统都有文件系统，在此系统中文件被放置在分等级的（树状）结构中的某一处。文件被放置进目录（Windows中的文件夹）或子目录，在树状结构中你希望的位置中。
					文件系统指定命名文件的规则。这些规则包括文件名的字符数最大量，哪种字符可以使用，以及某些系统中文件名后缀可以有多长。文件系统还包括通过目录结构找到文件的指定路径的格式。 [1] 
					文件系统是软件系统的一部分，它的存在使得应用可以方便的使用抽象命名的数据对象和大小可变的空间。
					</p>
					<h4 class="l-h-ie">功能编辑</h4>
					<p class="l-h-ie">
					文件的系统是操作系统用于明确磁盘或分区上的文件的方法和数据结构；即在磁盘上组织文件的方法。也指用于存储文件的磁盘或分区，或文件系统种类。因此，可以说"我有2个文件系统"意思是他有2个分区，一个存文件，或他用 "扩展文件系统"，意思是文件系统的种类。
					磁盘或分区和它所包括的文件系统的不同是很重要的。少数程序（包括最有理由的产生文件系统的程序）直接对磁盘或分区的原始扇区进行操作；这可能破坏一个存在的文件系统。大部分程序基于文件系统进行操作，在不同种文件系统上不能工作。
					一个分区或磁盘在作为文件系统使用前，需要初始化，并将记录数据结构写到磁盘上。这个过程就叫建立文件系统。
					</p>
					<p class="l-h-ie">
					大部分UNIX文件系统种类具有类似的通用结构，即使细节有些变化。其中心概念是超级块superblock,i节点inode,数据块data block，目录块directory block，和间接块indirection block。超级块包括文件系统的总体信息，比如大小（其准确信息依赖文件系统）。i节点包括除了名字外的一个文件的所有信息，名字与i节点数目一起存在目录中，目录条目包括文件名和文件的i节点数目。i节点包括几个数据块的数目，用于存储文件的数据。i节点中只有少量数据块数的空间，如果需要更多，会动态分配指向数据块的指针空间。这些动态分配的块是间接块；为了找到数据块，这名字指出它必须先找到间接块的号码。
					UNIX文件系统通常允许在文件中产生孔，意思是文件系统假装文件中有一个特殊的位置只有0字节，但没有为这文件的这个位置保留实际的磁盘空间。这对小的 [2]  二进制文件经常发生，Linux共享库、一些数据库和其他一些特殊情况。
					孔有一定的用处。在笔者的系统中，一个简单的测量工具显示在200MB使用的磁盘空间中，由于孔，节约了大约4MB。在这个系统中，程序相对较少，没有 [3]  数据库文件。
					</p>
					<p class="l-h-ie">
					文件系统的功能包括：管理和调度文件的存储空间，提供文件的逻辑结构、物理结构和存储方法;实现文件从标识到实际地址的映射，实现文件的控制操作和存取操作，实现文件信息的共享并提供可靠的文件保密和保护措施，提供文件的安全措施。
					文件的逻辑结构是依照文件的内容的逻辑关系组织文件结构。文件的逻辑结构可以分为流式文件和记录式文件。
					</p>
					<p class="l-h-ie">
					流式文件：文件中的数据是一串字符流，没有结构。
					</p>
					<p class="l-h-ie">
					记录文件：由若干逻辑记录组成，每条记录又由相同的数据项组成，数据项的长度可以是确定的，也可以是不确定的。
					主要缺陷：数据关联差，数据不一致，冗余性。
					</p>
				</div>
				
			</div>
		</div>
		<!--搜索结果end-->
	
		
		<!--管控信息start-->
		<div class="temp-wrapper control-info f-box-col width-ie1 left">
			<div class="temp-wrapper-header clearfix">
				<h3 class="left">文件管控信息</h3>
			</div>
			<div class="temp-content-wrapper">
				<div class="clearfix">
					<a class="btn btn-sec-small btn-green margin-l clearfix right" href="#">
						<i class="i-small i-download2 margin-t-ss left"></i>下载
					</a>
					<a class="btn btn-sec-small btn-yellow margin-l clearfix right" href="#">
						<i class="i-small i-favorite2 margin-t-ss left"></i>收藏
					</a>
				</div>
				<section class="right-info-wrapper">
					<p class="l-h-ie">
						文件名称：
						<span class="inline-block">体系手册</span>
					</p>
					<p class="l-h-ie">
						文件编码：
						<span class="inline-block">WJBM00001</span>
					</p>
					<p class="l-h-ie">
						编制人：
						<span class="inline-block">常学军</span>
					</p>
					<p class="l-h-ie">
						发布单位：
						<span class="inline-block">东方物探</span>
					</p>
					<p class="l-h-ie">
						发布时间：
						<span class="inline-block">2017年10月8日</span>
					</p>
					<p class="l-h-ie">
						主责处室：
						<span class="inline-block">企管法规处</span>
					</p>
					<p class="l-h-ie">
						参与处室:
						<span class="inline-block">人事处</span>
					</p>
					<p class="l-h-ie">
						参与单位:
						<span class="inline-block">无</span>
					</p>
					<p class="l-h-ie">上级单位规范性文件:
						<a class="link" href="#">中国石油天然气集团公司信息工作管理办法.doc</a>
					</p>
					<p class="l-h-ie">相关管理制度:
						<a class="link" href="#">相关管理制度.pdf</a>
					</p>
					<p class="l-h-ie">
						相关操作规范:
						<a class="link" href="#">相关操作规范01.pdf</a>
					</p>
					<p class="l-h-ie">
						历史版本:
						<a class="link" href="#">体系手册</a>
					</p>
					<p class="l-h-ie">
						修订对照表:
						<a class="link" href="#">修订对照表.xlsx</a>
					</p>
				</section>
			</div>
			<div class="row-end temp-row">
				<a href="#">附件</a>
			</div>
		</div>
		<!--管控信息end-->
	</div>
</div>
<!--内容主体end-->
</div>
</body>
</html>
