<!DOCTYPE html>
<html ng-app="allapp">

<head>
    <title ng-bind="pageTitle"></title>
    <base href="/" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="icon" type="image/x-icon" href="static/thingsboard.ico" />


    <link href="/static/style.383c7038af3d63d6aaa3050a75925d31.css" rel="stylesheet">


    <link rel="stylesheet" href="./c10/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="./c10/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./c10/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="./c10/dist/css/multiple-select.css">
    <link rel="stylesheet" href="./c10/pages/googlefonts/googlefonts.css">
    <link rel="stylesheet" href="./c10/bower_components/leaflet/leaflet.css" />
    <link rel="stylesheet" href="./c10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="./c10/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="./c10/dist/css/AdminLTE.css">
    <style>
        @media (min-width: 960px) {
            md-toast.md-top {
                top: 50px;
            }
        }
        
        @media (min-width: 960px) {
            md-toast.md-left {
                left: 230px;
            }
        }
        
        @media (min-width: 768px) {
            .navbar-nav>li>a {
                padding-top: 19px;
                padding-bottom: 17px;
            }
        }
    </style>
</head>

<body class="skin-blue fixed sidebar-mini sidebar-mini-expand-feature">
    <div class="wrapper">
        <div ng-controller="index">
            <div id="header">
                <header class="main-header">
                    <a href="#" class="logo">
                        <span class="logo-mini"><b>IoT</b></span>
                        <span class="logo-lg"><img src="c10/pages/logo_white.png" height="30px" alt="中石油装备制造物联网系统"></span>
                    </a>
                    <nav class="navbar navbar-static-top">
                        <a href="javascript:;" id="togle" class="sidebar-toggle" data-toggle="push-menu" role="button">
                            <span class="sr-only">Toggle navigation</span>
                        </a>
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <li class="dropdown notifications-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-bell-o"></i>
                                        <span class="label label-warning">10</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="header">10 个报警通知</li>
                                        <li>
                                            <ul class="menu">
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-warning text-yellow"></i>大庆油田 站点一 机组一
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-warning text-yellow"></i>大庆油田 站点二 机组一
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-warning text-yellow"></i>新疆油田 站点一 机组一
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-warning text-yellow"></i>新疆油田 站点一 机组一
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-warning text-yellow"></i>长庆油田 站点一 机组一
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="footer"><a href="#">查看所有</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span id="peoplerole" class="hidden-xs">{{identity.name}}</span>
                                    </a>
                                    <ul class="dropdown-menu" style="width:160px;">
                                        <li class="user-body" style="padding:0px;">
                                            <a ui-sref="modified" href="#" class="btn btn-default btn-flat" style="border:none;padding: 8px 20px;">
                                                <i class="ace-icon fa fa-user"></i>修改资料
                                            </a>
                                            <a href="#" class="btn btn-default btn-flat" style="border:none;padding: 8px 20px;border-top:1px solid #eee" ng-click="logout()">
                                                <i class="ace-icon fa fa-power-off"></i>&nbsp;&nbsp;退出
                                            </a>
                                        </li>
                                        <!--<li class="user-footer">-->
                                        <!---->
                                        <!--</li>-->
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>

            </div>

            <div id="sidebar">
                <aside class="main-sidebar" ng-if="identity.SYS_ADMIN">
                    <section class="sidebar">
                        <ul class="sidebar-menu" data-widget="tree">
                            <li id="sidebar-homepage" ui-sref="home"><a href=""><i class="fa fa-home" aria-hidden="true"></i><span>主页</span></a></li>
                            <!-- <li ui-sref="c10menu"><a href=""><i class="fa fa-home" aria-hidden="true"></i><span>菜单管理</span></a></li> -->
                            <li id="sidebar-search" class="treeview active">
                                <a href="javascript:;">
                                    <i class="fa fa-table" aria-hidden="true"></i><span>菜单管理</span>
                                    <span class="pull-right-container"> 
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="machine-set">
                                        <a href="#" ui-sref="c10menu"><i class="fa fa-table" aria-hidden="true"></i>菜单维护
                                            <span class="pull-right-container">
                                            </span>
                                        </a>
                                        <a href="#" ui-sref="c10allocatemenu"><i class="fa fa-table" aria-hidden="true"></i>菜单分配
                                            <span class="pull-right-container">
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li ui-sref="c10tenant"><a href=""><i class="fa fa-home" aria-hidden="true"></i><span>租户管理</span></a></li>
                            <li ui-sref="c10control"><a href=""><i class="fa fa-user-circle" aria-hidden="true"></i><span>用户管理</span></a></li>
                            <li ui-sref="tenantGroup"><a href=""><i class="fa fa-user-circle" aria-hidden="true"></i><span>用户组管理</span></a></li>
                        </ul>
                    </section>
                </aside>
                <!-- 租户管理员页面 -->
                <aside class="main-sidebar" ng-if="!identity.SYS_ADMIN">
                    <section class="sidebar">
                        <ul class="sidebar-menu" data-widget="tree">
                            <li id="sidebar-homepage"><a href="" ui-sref="home" class="selected"><i class="fa fa-home" aria-hidden="true"></i><span>主页</span></a></li>
                            <li id="sidebar-search" class="treeview active" ng-repeat="i in newtsMenuList | orderBy:'orderId'">
                                <a href="javascript:;">
                                    <i class="{{i.class}}" aria-hidden="true"></i><span>{{i.menuName}}</span>
                                    <span class="pull-right-container">   
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                <li class="machine-set" ng-repeat="data in i.accessMenu | orderBy:'orderId'" >
                                    <a href="#" ui-sref="{{data.menuRoute}}">
                                        <i class="{{data.class}}" aria-hidden="true"></i>{{data.menuName}}
                                        <span class="pull-right-container">
                                        </span>
                                    </a>
                                </li>
                                </ul>
                            </li>
                        </ul>
                    </section>                           
                </aside>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="mywrapper">
                <ui-view layout="row" layout-fill>
                </ui-view>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./static/vendor.5a4b62a9d4d028d13b99.js"></script>
    <script type="text/javascript" src="./static/bundle.5a4b62a9d4d028d13b99.js"></script>
    <script src="./c10/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./c10/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="./c10/bower_components/laydate/laydate.js"></script>
    <script src="./c10/js/angular-ui-router.js"></script>
    <script src="./c10/bower_components/DataTables/js/jquery.dataTables.min.js"></script>
    <script src="./c10/js/base.js"></script>
    <script src="./c10/js/script.js"></script>
    <script src="./c10/js/c10Angular.js?r=20180309"></script>
    <script src="./c10/dist/js/exportExcel.js"></script>
    <script src="./c10/js/ng-file-upload.min.js"></script>
    <script src="./c10/js/ng-file-upload-shim.min.js"></script>
</body>

</html>