<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
      .modal {
        position: fixed;
        box-sizing: border-box;
        font-size: 14px;
        width: 20em;
        height: 10em;
        padding: 1em;
        top: 50%;
        left: 50%;
        margin-left: -10em;
        margin-top: -5em;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
      }
    </style>
</head>
<body>
    <div class="modal" role="dialog">
        <h3>出错啦！</h3>
        <p>服务器暂时无法处理您提交的数据，请稍后再试。</p>
        <div class="actions">
          <button>确定</button>
        </div>
      </div>
      
      
</body>
</html>